<template>
    <div>
        <simpleBlocks></simpleBlocks>
        <div class="card card-box mb-5">
            <div class="card-body px-4 py-3">
            <exampleAlt title="Custom controls">
                <customControls></customControls>
            </exampleAlt>
            <exampleAlt title="Create User">
                <user></user>
            </exampleAlt>
            
        </div>
        </div>
    </div>
</template>

<script>
    import simpleBlocks from '../examples-source/elements/statistics-boxes/users-statisctics.vue'
    import user from '../examples-source/elements/forms/user.vue'

    export default {
        components: {
            simpleBlocks,
            user
        }
    }

</script>