<template>
    <div>
        <b-list-group class="mb-5">
            <b-list-group-item class="d-flex justify-content-between align-items-center">
                <div class="w-100">
                    <div class="d-flex flex-wrap justify-content-between mb-2">
                        <small class="line-height-xs text-uppercase text-muted">Nov 12, 11:25am</small>
                        <small class="line-height-xs text-uppercase text-success">Due in 12 days</small>
                    </div>
                    <h6 class="pt-1 pb-1">
                        <a href="javascript:void(0);">#56 - Deploy new website</a>
                    </h6>
                    <p class="mb-3">This is a dummy text acting like a small description for the above title...</p>
                    <div class="d-flex mt-1 justify-content-between align-items-center">
                        <div class="avatar-wrapper-overlap">
                            <div class="avatar-icon-wrapper">
                                <div class="avatar-icon"><img src="@/assets/img/avatars/avatar1.jpg" alt=""></div>
                            </div>
                            <div class="avatar-icon-wrapper">
                                <div class="avatar-icon"><img src="@/assets/img/avatars/avatar7.jpg" alt=""></div>
                            </div>
                            <div class="avatar-icon-wrapper">
                                <div class="avatar-icon"><img src="@/assets/img/avatars/avatar1.jpg" alt=""></div>
                            </div>
                            <div class="avatar-icon-wrapper">
                                <div class="avatar-icon"><img src="@/assets/img/avatars/avatar2.jpg" alt=""></div>
                            </div>
                            <div class="avatar-icon-wrapper">
                                <div class="avatar-icon"><img src="@/assets/img/avatars/avatar6.jpg" alt=""></div>
                            </div>
                        </div>
                        <div>
                            <b-button size="sm" variant="first">
                                <span class="btn-wrapper--icon">
                                    <font-awesome-icon icon="plus"/>
                                </span>
                                <span class="btn-wrapper--label">
                                    Add
                                </span>
                            </b-button>
                        </div>
                    </div>
                </div>
            </b-list-group-item>
            <b-list-group-item class="d-flex justify-content-between align-items-center">
                <div class="w-100">
                    <div class="d-flex flex-wrap justify-content-between mb-2">
                        <small class="line-height-xs text-uppercase text-muted">Nov 12, 11:25am</small>
                        <small class="line-height-xs text-uppercase text-success">Due in 12 days</small>
                    </div>
                    <h6 class="pt-1 pb-1">
                        <a href="javascript:void(0);">#56 - Deploy new website</a>
                    </h6>
                    <p class="mb-3">This is a dummy text acting like a small description for the above title...</p>
                    <div class="d-flex mt-1 justify-content-between align-items-center">
                        <div class="avatar-wrapper-overlap">
                            <div class="avatar-icon-wrapper">
                                <div class="avatar-icon"><img src="@/assets/img/avatars/avatar1.jpg" alt=""></div>
                            </div>
                            <div class="avatar-icon-wrapper">
                                <div class="avatar-icon"><img src="@/assets/img/avatars/avatar7.jpg" alt=""></div>
                            </div>
                            <div class="avatar-icon-wrapper">
                                <div class="avatar-icon"><img src="@/assets/img/avatars/avatar1.jpg" alt=""></div>
                            </div>
                            <div class="avatar-icon-wrapper">
                                <div class="avatar-icon"><img src="@/assets/img/avatars/avatar2.jpg" alt=""></div>
                            </div>
                            <div class="avatar-icon-wrapper">
                                <div class="avatar-icon"><img src="@/assets/img/avatars/avatar6.jpg" alt=""></div>
                            </div>
                        </div>
                        <div>
                            <b-button size="sm" variant="first">
                        <span class="btn-wrapper--icon">
                            <font-awesome-icon icon="plus"/>
                        </span>
                                <span class="btn-wrapper--label">
                            Add
                        </span>
                            </b-button>
                        </div>
                    </div>
                </div>
            </b-list-group-item>
            <b-list-group-item class="d-flex justify-content-between align-items-center">
                <div class="w-100">
                    <div class="task-wrapper">
                        <div class="task-item">
                            <div class="align-box-row">
                                <div class="custom-checkbox custom-control align-self-start">
                                    <input type="checkbox" id="exampleCustomCheckbox2" class="custom-control-input">
                                    <label class="custom-control-label" for="exampleCustomCheckbox2">&nbsp;</label>
                                </div>
                                <div>
                                    <b>
                                        Blinded by desire
                                    </b>
                                    <p class="text-black-50 mt-1 mb-0">
                                        A wonderful serenity has taken possession.
                                    </p>
                                    <div class="timeline-list mt-3">
                                        <div class="timeline-item timeline-item-icon">
                                            <div class="timeline-item--content">
                                                <div class="timeline-item--icon-wrapper bg-danger text-white">
                                                    <font-awesome-icon icon="gem"/>
                                                </div>
                                                <h4 class="timeline-item--label mb-2 font-weight-bold">1998</h4>
                                                <p>
                                                    Bill Clinton's presidential scandal makes it online.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="timeline-item">
                                            <div class="timeline-item--content">
                                                <div class="timeline-item--icon"></div>
                                                <h4 class="timeline-item--label mb-2 font-weight-bold">
                                                    Business investor meeting
                                                    <span class="badge badge-neutral-info text-info ml-2">New</span>
                                                </h4>
                                                <p>
                                                    Mosaic, the first graphical browser, is introduced to the average consumer.
                                                </p>
                                                <div class="mt-3">
                                                    <b-button variant="primary" size="sm">Submit Report</b-button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </b-list-group-item>
            <b-list-group-item class="bg-light d-flex justify-content-between align-items-center align-content-center pl-0">
                <a href="javascript:void(0);" class="btn btn-sm btn-link" v-b-tooltip.hover title="There are 653 new comments available!">
                    <span class="btn-wrapper--icon">
                        <font-awesome-icon icon="comments"/>
                    </span>
                    <span class="btn-wrapper--label ml-1">
                        653
                    </span>
                </a>
                <div>
                    <small class="text-muted mr-1">(21)</small>
                    <font-awesome-icon icon="star" class="text-warning"/>
                    <font-awesome-icon icon="star" class="text-warning"/>
                    <font-awesome-icon icon="star" class="text-warning"/>
                    <font-awesome-icon icon="star" class="text-warning"/>
                    <font-awesome-icon icon="star" class="text-warning"/>
                </div>
            </b-list-group-item>
        </b-list-group>

    </div>
</template>

<script>
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {
        faStar,
        faComments,
        faGem,
        faPlus
    } from '@fortawesome/free-solid-svg-icons'

    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

    library.add(
        faStar,
        faComments,
        faGem,
        faPlus
    );

    export default {
        components: {
            'font-awesome-icon': FontAwesomeIcon,
        },
    }
</script>
