<template>
    <div>
        <div class="container">
            <simpleBlocks></simpleBlocks>
        </div>
    </div>
</template>

<script>

    import simpleBlocks from '../examples-source/elements/statistics-boxes/xpress-boxes.vue'

    export default {
        components: {
            simpleBlocks,
        }
    }

</script>