<template>
    <div>
        <b-button id="popoverPrimaryWrapper" variant="primary">Primary</b-button>
        <b-popover Bamburgh Vue UI Kit with BootstrapVue PRO triggers="hover" placement="top" custom-class="popover-primary" target="popoverPrimaryWrapper">
            This popover example has a primary color state!
        </b-popover>

        <b-button id="popoverSecondaryWrapper" variant="secondary">Secondary</b-button>
        <b-popover Bamburgh Vue UI Kit with BootstrapVue PRO triggers="hover" placement="top" custom-class="popover-secondary" target="popoverSecondaryWrapper">
            This popover example has a primary color state!
        </b-popover>

        <b-button id="popoverFirstWrapper" variant="first">Primary Alt</b-button>
        <b-popover Bamburgh Vue UI Kit with BootstrapVue PRO triggers="hover" placement="top" custom-class="popover-first" target="popoverFirstWrapper">
            This popover example has a primary color state!
        </b-popover>

        <b-button id="popoverSecondWrapper" variant="second">Secondary Alt</b-button>
        <b-popover Bamburgh Vue UI Kit with BootstrapVue PRO triggers="hover" placement="top" custom-class="popover-second" target="popoverSecondWrapper">
            This popover example has a primary color state!
        </b-popover>

        <b-button id="popoverInfoWrapper" variant="info">Info</b-button>
        <b-popover Bamburgh Vue UI Kit with BootstrapVue PRO triggers="hover" placement="top" custom-class="popover-info" target="popoverInfoWrapper">
            This popover example has a primary color state!
        </b-popover>

        <b-button id="popoverSuccessWrapper" variant="success">Success</b-button>
        <b-popover Bamburgh Vue UI Kit with BootstrapVue PRO triggers="hover" placement="top" custom-class="popover-success" target="popoverSuccessWrapper">
            This popover example has a primary color state!
        </b-popover>

        <b-button id="popoverWarningWrapper" variant="warning">Warning</b-button>
        <b-popover Bamburgh Vue UI Kit with BootstrapVue PRO triggers="hover" placement="top" custom-class="popover-warning" target="popoverWarningWrapper">
            This popover example has a primary color state!
        </b-popover>

        <b-button id="popoverDangerWrapper" variant="danger">Danger</b-button>
        <b-popover Bamburgh Vue UI Kit with BootstrapVue PRO triggers="hover" placement="top" custom-class="popover-danger" target="popoverDangerWrapper">
            This popover example has a primary color state!
        </b-popover>

        <b-button id="popoverDarkWrapper" variant="dark">Dark</b-button>
        <b-popover Bamburgh Vue UI Kit with BootstrapVue PRO triggers="hover" placement="top" ref="popoverDark" target="popoverDarkWrapper">
            This popover example has a primary color state!
        </b-popover>
    </div>
</template>

<script>
    export default {
        methods: {

        }
    }
</script>
