<template>
    <div>
        <b-modal size="xl" body-class="p-0" :hide-footer="true" :hide-header="true" id="modal-bbb5" centered>
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <div class="hero-wrapper bg-composed-wrapper bg-plum-plate h-100 rounded-left">
                        <div class="flex-grow-1 w-100 d-flex align-items-center">
                            <div class="bg-composed-wrapper--image rounded-left" :style="{ backgroundImage: 'url(' + require('@/assets/img/hero-bg/hero-1.jpg') + ')' }"></div>
                            <div class="bg-composed-wrapper--bg bg-second opacity-5 rounded-left">
                                <b-button variant="primary" size="sm" @click.prevent="closeUserModal()">Back</b-button>
                            </div>
                            <div class="bg-composed-wrapper--content p-5">
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-pill badge-second px-4 h-auto py-1">User Access Creation</span>
                                    <span class="text-white-50 pl-3" v-b-tooltip.hover title="User created by a user cannot be approved by the same user">
                                    <font-awesome-icon icon="question-circle"/>
                                </span>
                                </div>
                                <div class="text-white mt-3">
                                    <h1 class="display-4 my-3 font-weight-bold">
                                        Rules to create user
                                    </h1>
                                    <p class="font-size-md mb-0 text-white-50">
                                        By creating this user access, you understand that this person has the right to view, monitor, download and print 
                                        e-journal of the transactions within his/her access right in this XPress Monitor system.
                                    </p>
                                    <div class="divider border-2 my-4 border-light opacity-2 rounded w-25"></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <b-tabs pills nav-class="nav-line mx-3 my-4">
                        <b-tab title="Overview" active>
                            <div slot="title">
                                User Details
                                <div class="divider"></div>
                            </div>
                            <div class="px-4 py-2">
                                 <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="success" v-if="errorMessage === false">
                                    <span class="font-size-lg d-block d-40 mr-2 text-center">
                                        <font-awesome-icon icon="life-ring"/>
                                    </span>
                                    <span>
                                        <strong class="d-block">User account created!</strong> {{ user_responseMessage }}
                                    </span>
                                </b-alert>
                                <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger" v-else-if="errorMessage === true">
                                    <span class="font-size-lg d-block d-40 mr-2 text-center">
                                        <font-awesome-icon icon="life-ring"/>
                                    </span>
                                    <span>
                                        <strong class="d-block">Unable to create user!</strong> {{ user_responseMessage }}
                                    </span>
                                </b-alert>
                                <form role="form" ref="createUserForm">
                                <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="card card-box text-black-50 mb-5 p-3">
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="First Name" required="true" v-model="firstName"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="user"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="Middle Name" v-model="middleName"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="user"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="Last Name" required="true" v-model="lastName"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="user"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="card card-box text-black-50 mb-5 p-3">
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="Email" required="true" v-model="email"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="envelope"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="Phone Number" required="true" v-model="phoneNumber"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="mobile"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-select v-model="roleId" @change="fetchBankList">
                                                    <option value="">Select Role</option>
                                                    <option value="52">XPress User</option>
                                                    <option value="2">Xpress Admin</option>
                                                    <option value="51">Merchant Admin</option>
                                                    <option value="46">Merchant User</option>
                                                    <option value="44">Bank User</option>
                                                </b-form-select>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="briefcase"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6" v-if="bankData.length > 0">
                                    <div class="card card-box text-black-50 mb-5 p-3">
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-select v-model="bankId">
                                                    <option value="">Select Bank</option>
                                                    <option v-for="bank in bankData" :key="bank.id" :value="bank.id">{{ bank.bankName }}</option>
                                                </b-form-select>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="briefcase"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                    </div>
                                </div>
                            </div>

                            <div class="row" v-if="loading === false">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-6" v-if="loading === false">
                                    <b-button variant="outline-primary" class="mb-4" type="submit" @click.prevent="createNewUserAccount">
                                    Create User Access
                                    </b-button>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>

                            <div class="row" v-else>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-6">
                                    <div class="text-center">
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="primary"></b-spinner>
                                        </span>
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="success"></b-spinner>
                                        </span>
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="danger"></b-spinner>
                                        </span>
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="warning"></b-spinner>
                                        </span>
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="info"></b-spinner>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                            </form>
                            </div>
                        </b-tab>
                    </b-tabs>
                </div>
            </div>
        </b-modal>
        <div class="row">
            <div class="col-md-12 col-xl-12">
            <div class="card card-box mb-5">
                    <div class="card-header pr-2">
                        <div class="card-header--title">
                            <small>XPress Monitor</small>
                            <b>User Management</b>
                        </div>
                        <div class="card-header--actions">
                           <div class="text-center" v-if="loading === true">
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="success"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="danger"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="primary"></b-spinner>
                            </span>
                        </div>
                        </div>
                    </div>

                    <div class="card-body p-0" v-if="usersList.lenght < 1">
                        <div class="text-center">
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="success"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="danger"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="primary"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="success"></b-spinner>
                            </span>
                        </div>
                    </div>

                    <div class="card-body p-0" v-else-if="responseMessage !== null" >
                        <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger">
                            <span class="font-size-lg d-block d-40 mr-2 text-center">
                                <font-awesome-icon icon="headset"/>
                            </span>
                            <span>
                                <strong class="d-block">Ooops!</strong> {{ responseMessage }}
                            </span>
                        </b-alert>
                    </div>
                    <div class="card-body p-0" v-else>
                        <div>
                            <div class="table-responsive-xs">
                                <table class="table table-striped table-hover mb-0">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">
                                    <font-awesome-icon :icon="['fas', 'user']"  size="md"/> 
                                   Name
                                    </th>
                                <th scope="col">
                                    <font-awesome-icon :icon="['fas', 'envelope']"  size="md"/> 
                                    Email
                                    </th>
                                <th scope="col">
                                    <font-awesome-icon :icon="['fas', 'phone']"  size="md"/> 
                                    Phone
                                    </th>
                                <th scope="col">
                                    <font-awesome-icon :icon="['fas', 'info-circle']"  size="md"/> 
                                    Status
                                    </th>  
                                <th scope="col">
                                    <font-awesome-icon :icon="['fas', 'briefcase']"  size="md"/> 
                                    Role
                                    </th>
                                <th scope="col">
                                    <font-awesome-icon :icon="['fas', 'plug']"  size="md"/> 
                                    Logged In
                                    </th>
                                <th scope="col">
                                    <font-awesome-icon :icon="['fas', 'clock']"  size="md"/> 
                                    Last Seen
                                    </th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            <tr v-for="user in usersList" :key="user.id">
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ user.firstName+' '+user.middleName+' '+user.lastName }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ user.email }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ user.phoneNumber }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                <b-badge variant="success" v-if="user.userStatus == 'Approved'">
                                                    {{ 'Active Account' }}
                                                </b-badge>
                                                <b-badge variant="warning" v-else>
                                                    {{ user.userStatus }}
                                                </b-badge>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                <b-badge variant="primary">
                                                    {{ user.roleName }}
                                                </b-badge>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                <b-badge variant="success" class="badge-circle" v-if="user.isLogin === true">
                                                    Success
                                                </b-badge>
                                                <b-badge variant="warning" class="badge-circle" v-else>
                                                    Warning
                                                </b-badge>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block text-center">
                                                <b-badge variant="primary" class="text-info" v-if="user.lastLoginDate !== null">
                                                    {{ user.lastLoginDate }}
                                                </b-badge>
                                                <b-badge variant="neutral-dark" class="text-primary" v-else>
                                                    Never seen
                                                </b-badge>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" width="5%">
                                    <b-dropdown no-caret right variant="link p-0 btn-link-primary" class="text-primary">
                                        <template slot="button-content">
                                            <div class="font-size-xl">
                                                <font-awesome-icon icon="ellipsis-h"/>
                                            </div>
                                        </template>
                                        <div v-if="user.userStatus == 'Pending'">
                                            <b-dropdown-item @click.prevent="userActionResult('APPROVE', {email: user.email})">
                                            <font-awesome-icon icon="check-circle"/>
                                            Approve User
                                        </b-dropdown-item>
                                        <b-dropdown-item @click.prevent="userActionResult('DISAPPROVE', {email: user.email, disapprovedComment: 'N/A'})">
                                            <font-awesome-icon icon="user-slash"/>
                                            Disapprove User
                                        </b-dropdown-item>
                                        </div>
                                        <b-dropdown-item v-else-if="user.userStatus == 'Disapproved'" @click.prevent="userActionResult('APPROVE', {email: user.email})">
                                            <font-awesome-icon icon="user-check"/>
                                            Approve user Again
                                        </b-dropdown-item>
                                        <b-dropdown-item v-else-if="user.userStatus == 'LockedOut'" @click.prevent="userActionDeactivate('UNLOCK', {email: user.email})">
                                            <font-awesome-icon icon="unlock-alt"/>
                                            Unluck User
                                        </b-dropdown-item>
                                        <b-dropdown-item v-else-if="user.userStatus == 'Deactivated'" @click.prevent="userActionDeactivate('REACTIVATE', {email: user.email})">
                                            <font-awesome-icon icon="award"/>
                                            Reactivate User
                                        </b-dropdown-item>
                                        <b-dropdown-item v-else @click.prevent="userActionDeactivate('DEACTIVATE', {email: user.email, comment: null})">
                                            <font-awesome-icon icon="user-slash"/>
                                            Deactivate User
                                        </b-dropdown-item>

                                    </b-dropdown>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                            </div>
                            <div class="divider"></div>
                                <div class="divider"></div>
                                <b-list-group-item class="d-flex justify-content-between align-items-center">
                                        <div class="w-100">
                                            <div class="d-flex mt-1 justify-content-between align-items-center">
                                                <div class="avatar-wrapper-overlap">
                                                <b-button pill variant="outline-second" @click="getUserList(pagination.prev_page_url)"
                                                            :disabled="pagination.prev_page_url === null" class="pull-left">
                                                            <font-awesome-icon :icon="['fas', 'chevron-left']" />  Previous Page
                                                    </b-button>
                                                </div>
                                                <div>
                                                <b-button pill variant="outline-second" @click="getUserList(pagination.next_page_url)"
                                                            :disabled="pagination.next_page_url === null" class="pull-right">
                                                                Next Page   <font-awesome-icon :icon="['fas', 'chevron-right']" />
                                                    </b-button>
                                                </div>
                                            </div>
                                        </div>
                                </b-list-group-item>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="divider"></div>
                    <b-list-group-item class="d-flex justify-content-between align-items-center">
                            <div class="w-100">
                                <div class="d-flex mt-1 justify-content-between align-items-center">
                                    <div class="avatar-wrapper-overlap">
                                    </div>
                                    <div>
                                        <b-button size="sm" variant="first" @click.prevent="openUserCreateModal()">
                                            <span class="btn-wrapper--icon">
                                                <font-awesome-icon icon="plus"/>
                                            </span>
                                                    <span class="btn-wrapper--label">
                                                Create User Access
                                            </span>
                                        </b-button>
                                    </div>
                                </div>
                            </div>
                    </b-list-group-item>
                </div>
        
        
        
             </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueToast from 'vue-toast-notification'
    Vue.use(VueToast);
    import axios from 'axios'
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {
        faArrowRight,
        faArrowUp,
        faBinoculars,
        faTrashAlt
    } from '@fortawesome/free-solid-svg-icons'

    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

    library.add(
        faArrowRight,
        faArrowUp,
        faBinoculars,
        faTrashAlt
    );


    export default {
        components: {
            'font-awesome-icon': FontAwesomeIcon,
        },
        data: function() {
            return {
                autToken: this.$store.state.auth.user.jwtToken,
                baseUrl: "http://localhost:5000/api/",
                usersList: [],
                pagination: '',
                responseMessage: null,
                loading: false,

                firstName: '',
                lastName: '',
                middleName: '',
                email: '',
                phoneNumber: '',
                roleId: '',
                errorMessage: null,
                user_responseMessage: '',
                bankData: [],
                bankId: ''
            }
        },
        beforeMount(){
            this.getUserList();
        },
        methods: {
            async getUserList(pageUrl){
                let vm = this;
                pageUrl = pageUrl || this.baseUrl+'Auth/GetAllUsers'
               
               await axios
                .get(pageUrl, { headers: {
                'Authorization': 'Bearer '+this.autToken
                } })
                .then(response => {
                    //console.log(response.data);

                    this.usersList = response.data.data
                    vm.makePagination(response.data)
                },
                (error) => {
                    this.responseMessage = error;
                })
                .catch(function (error) {
                    this.responseMessage = error;
                })
            },
            makePagination: function(data){
                let pagination = {
                    current_page: data.path,
                    last_page: data.lastPage,
                    next_page_url: data.nextPage,
                    prev_page_url: data.previousPage
                }

                this.pagination =  pagination;
            },
            async userActionResult(action, data){

                let endpoint, payload;
                switch(true){
                    case action === 'APPROVE':
                        payload = data;
                        endpoint = 'Auth/ApproveUser';
                    break;

                    case action === 'DISAPPROVE':
                        payload = data;
                        endpoint = 'Auth/DisapproveUser';
                    break;
                }

                this.loading = true;

                await axios
                .put(this.baseUrl+endpoint, payload, {
                    headers: {
                        'Authorization': 'Bearer '+this.autToken
                    }
                })
                .then(response => {
                    
                    this.loading = false;
                    let type = (response.data.responseCode === '00') ? 'success' : 'error', message = response.data.responseMessage;
                    this.$toast.open(this.toastData(message, type));

                    if(response.data.responseCode === '00')
                        alert(response.data.responseMessage, function(ok){
                            if(ok){
                                location.reload();
                            }
                        });

                    

                },
                (error) => {
                    this.loading = false;
                    let message = error, type = 'error';
                    this.$toast.open(this.toastData(message, type));
                })
                .catch(function(err){
                    this.loading = false;
                    let message = err, type = 'error';
                    this.$toast.open(this.toastData(message, type));
                })
                
            },
            async userActionDeactivate(action, data){

                let endpoint, payload;
                switch(true){
                    case action === 'DEACTIVATE':
                        payload = data;
                        endpoint = 'Auth/DeactivateUser';
                    break;

                    case action === 'REACTIVATE':
                        payload = data;
                        endpoint = 'Auth/Re-activateUser';
                    break;

                    case action === 'UNLOCK':
                        payload = data;
                        endpoint = 'Auth/UnblockAccount';
                    break;
                    
                }

                this.loading = true;

                await axios
                .post(this.baseUrl+endpoint, payload, {
                    headers: {
                        'Authorization': 'Bearer '+this.autToken
                    }
                })
                .then(response => {
                    
                    this.loading = false;
                    let type = (response.data.responseCode === '00') ? 'success' : 'error', message = response.data.responseMessage;
                    this.$toast.open(this.toastData(message, type));


                },
                (error) => {
                    this.loading = false;
                    let message = error, type = 'error';
                    this.$toast.open(this.toastData(message, type));
                })
                .catch(function(err){
                    this.loading = false;
                    let message = err, type = 'error';
                    this.$toast.open(this.toastData(message, type));
                })
                
            },
            toastData(message, type){
                const form = {
                    message: message,
                    type: type,
                    duration: 30000,
                    dismissible: true,
                    queue: false,
                    position: 'top-right',
                }
                return form;
            },
            async fetchBankList(){

                this.loading = true;
                if(this.roleId === '44'){
                    await axios
                        .get(this.baseUrl+'Transactions/AllBanks', { headers: {
                        'Authorization': 'Bearer ' +this.autToken
                        } 
                        }).then((response) => {
                            this.loading = false;
                            if(response.data.responseCode === "00"){
                                this.bankData = response.data.data;
                            }else{
                                this.bankData = [];
                            }
                    },
                    (error) => {
                        this.loading = false;
                        this.errorMessage = true;
                        this.user_responseMessage = error;
                    })
                    .catch(function(er){
                        this.loading = false;
                        this.errorMessage = true;
                        this.user_responseMessage = er;
                    });
                }else{
                   this.loading = false; 
                   this.bankData = [];
                }
            },
             createNewUserAccount: async function(){
                this.loading = true;
                console.log(this.bankId);
                const filterRequest = {
                    firstName: this.firstName,
                    lastName: this.lastName,
                    middleName: this.middleName,
                    email: this.email,
                    phoneNumber: this.phoneNumber,
                    roleId: this.roleId,
                    userBankId: (this.bankId == '' )? parseInt(0) : parseInt(this.bankId)
                    //typeof this.bankId == 'undefined' ? parseInt(0) : parseInt(this.bankId)
                    //bankId == '' ? parseInt(0) : parseInt(this.bankId)
                }
                const json = JSON.stringify(filterRequest);

                await axios
                .post(this.baseUrl+'Auth/CreateUser', json, { headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' +this.autToken
                } 
                }).then((response) => {
                    this.loading = false;
                    if(response.data.responseCode === "00"){
                        this.errorMessage = false;
                        this.user_responseMessage = response.data.responseMessage;

                        this.$refs.createUserForm.reset();
                    }else{
                        this.errorMessage = true;
                        this.user_responseMessage = response.data.responseMessage;
                    }

                    this.$refs.createUserForm.reset();
             },
            (error) => {
                this.loading = false;
                this.errorMessage = true;
                this.user_responseMessage = error;
            })
            .catch(function(er){
                this.loading = false;
                this.errorMessage = true;
                this.user_responseMessage = er;
            });
            },
            openUserCreateModal(){
                this.$bvModal.show("modal-bbb5");
            },
            closeUserModal(){
                this.$bvModal.hide("modal-bbb5");
            }
        }
    }
</script>