<template>
    <div>
        <b-modal size="xl" body-class="p-0" :hide-footer="true" :hide-header="false" id="addGroup" centered>
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <div class="hero-wrapper bg-composed-wrapper bg-plum-plate h-100 rounded-left">
                        <div class="flex-grow-1 w-100 d-flex align-items-center">
                            <div class="bg-composed-wrapper--image rounded-left" :style="{ backgroundImage: 'url(' + require('@/assets/img/hero-bg/hero-1.jpg') + ')' }"></div>
                            <div class="bg-composed-wrapper--bg bg-second opacity-5 rounded-left"></div>
                            <div class="bg-composed-wrapper--content p-5">
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-pill badge-second px-4 h-auto py-1">Merchant Group Creation</span>
                                    <span class="text-white-50 pl-3" v-b-tooltip.hover title="Create a group for the merchant were the later terminal IDs will be assigned to">
                                    <font-awesome-icon icon="question-circle"/>
                                </span>
                                </div>
                                <div class="text-white mt-3">
                                    <h1 class="display-4 my-3 font-weight-bold">
                                        Create Group for Merchant
                                    </h1>
                                    <p class="font-size-md mb-0 text-white-50">
                                        Merchant group would allow you to segment some set of terminals belonging to a merchant into a group where 
                                        user would be assigned to see only the transactions from those terminal IDs.
                                    </p>
                                    <div class="divider border-2 my-4 border-light opacity-2 rounded w-25"></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <b-tabs pills nav-class="nav-line mx-3 my-4">
                        <b-tab title="Overview" active>
                            <div slot="title">
                                Add Group Detail
                                <div class="divider"></div>
                            </div>
                            <div class="px-4 py-2">
                                 <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="success" v-if="errorMessage === false">
                                    <span class="font-size-lg d-block d-40 mr-2 text-center">
                                        <font-awesome-icon icon="life-ring"/>
                                    </span>
                                    <span>
                                        <strong class="d-block">Merchant Group Created! </strong> {{ responseMessage }}
                                    </span>
                                </b-alert>
                                <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger" v-else-if="errorMessage === true">
                                    <span class="font-size-lg d-block d-40 mr-2 text-center">
                                        <font-awesome-icon icon="life-ring"/>
                                    </span>
                                    <span>
                                        <strong class="d-block">Unable to create Merchant Group!</strong> {{ responseMessage }}
                                    </span>
                                </b-alert>
                                <form role="form" ref="createUserForm">
                                <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="card card-box text-black-50 mb-5 p-3">
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="Group Name" required="true" v-model="groupName"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="home"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="Merchant ID (MID)" required="true" v-model="merchantId"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="mobile"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="card card-box text-black-50 mb-5 p-3">
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="Merchant Name" required="true" v-model="merchantName"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="mobile"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="Description" required="true" v-model="desdcription"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="mobile"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                    </div>
                                </div>
                            </div>

                            <div class="row" v-if="loading === false">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-6" v-if="loading === false">
                                    <b-button variant="outline-primary" class="mb-4" type="submit" @click.prevent="createNewGroupForMerchant">
                                    Create New Group
                                    </b-button>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>

                            <div class="row" v-else>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-6">
                                    <div class="text-center">
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="primary"></b-spinner>
                                        </span>
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="success"></b-spinner>
                                        </span>
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="danger"></b-spinner>
                                        </span>
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="warning"></b-spinner>
                                        </span>
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="info"></b-spinner>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                            </form>
                            </div>
                        </b-tab>
                    </b-tabs>
                </div>
            </div>
        </b-modal>

        <b-modal id="terminalModal" :hide-footer="true" :hide-header="false" centered>
            <div class="card shadow-none border-0">
                <div class="card-header bg-white pb-5">
                    <div class="text-muted text-center mb-3">
                        <small>Assign Terminal ID To Group</small>
                    </div>
                </div>
                <div class="card-body bg-secondary rounded px-lg-5 py-lg-5">
                    <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="success" v-if="assignError === false">
                        <span class="font-size-lg d-block d-40 mr-2 text-center">
                            <font-awesome-icon icon="life-ring"/>
                        </span>
                        <span>
                            <strong class="d-block">Terminal Assignment! </strong> {{ groupCreateResponse }}
                        </span>
                    </b-alert>
                    <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger" v-else-if="assignError === true">
                        <span class="font-size-lg d-block d-40 mr-2 text-center">
                            <font-awesome-icon icon="life-ring"/>
                        </span>
                        <span>
                            <strong class="d-block">Unable to assign terminal to group!</strong> {{ groupCreateResponse }}
                        </span>
                    </b-alert>
                    <form role="form" name="groupAssignTid"  @submit.prevent="assignTerminalToGroup">
                        <b-form-group>
                            <b-input-group>
                                <b-form-input placeholder="Terminal ID" v-model="tid" required></b-form-input>
                                <b-input-group-text slot="prepend">
                                    <font-awesome-icon class="mx-auto" icon="mobile"/>
                                </b-input-group-text>
                            </b-input-group>
                        </b-form-group>
                        <div class="text-center">
                            <b-button variant="second" class="my-4" :disabled="loading" type="submit">
                                <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                                <span>Assign To addGroup</span>
                            </b-button>
                        </div>
                    </form>
                </div>
            </div>
        </b-modal>

        <b-modal id="userToGroup" :hide-footer="true" :hide-header="false" centered>
            <div class="card shadow-none border-0">
                <div class="card-header bg-white pb-5">
                    <div class="text-muted text-center mb-3">
                        <small>Assign User To Merchant Group</small>
                    </div>
                </div>
                <div class="card-body bg-secondary rounded px-lg-5 py-lg-5">
                    <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="success" v-if="userToGroupError === false">
                        <span class="font-size-lg d-block d-40 mr-2 text-center">
                            <font-awesome-icon icon="life-ring"/>
                        </span>
                        <span>
                            <strong class="d-block">Merchant User Access! </strong> {{ userToGroupResponse }}
                        </span>
                    </b-alert>
                    <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger" v-else-if="userToGroupError === true">
                        <span class="font-size-lg d-block d-40 mr-2 text-center">
                            <font-awesome-icon icon="life-ring"/>
                        </span>
                        <span>
                            <strong class="d-block">Unable to assign user to group!</strong> {{ userToGroupResponse }}
                        </span>
                    </b-alert>
                    <form role="form" name="groupAssignTid"  @submit.prevent="assignUserToGroup">
                        <b-form-group>
                            <b-input-group>
                                <b-form-input placeholder="Enter User Email" v-model="userEmail" required></b-form-input>
                                <b-input-group-text slot="prepend">
                                    <font-awesome-icon class="mx-auto" icon="envelope"/>
                                </b-input-group-text>
                            </b-input-group>
                        </b-form-group>
                        <div class="text-center">
                            <b-button variant="second" class="my-4" :disabled="loading" type="submit">
                                <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                                <span>Assign To addGroup</span>
                            </b-button>
                        </div>
                    </form>
                </div>
            </div>
        </b-modal>

        <b-modal id="groupToMerchantAdmin" :hide-footer="true" :hide-header="false" centered>
            <div class="card shadow-none border-0">
                <div class="card-header bg-white pb-5">
                    <div class="text-muted text-center mb-3">
                        <small>Grant Merchant Admin Access To Group</small>
                    </div>
                </div>
                <div class="card-body bg-secondary rounded px-lg-5 py-lg-5">
                    <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="success" v-if="groupToMerchantError === false">
                        <span class="font-size-lg d-block d-40 mr-2 text-center">
                            <font-awesome-icon icon="life-ring"/>
                        </span>
                        <span>
                            <strong class="d-block">Group to merchant admin </strong> {{ groupToMerchantResponse }}
                        </span>
                    </b-alert>
                    <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger" v-else-if="groupToMerchantError === true">
                        <span class="font-size-lg d-block d-40 mr-2 text-center">
                            <font-awesome-icon icon="life-ring"/>
                        </span>
                        <span>
                            <strong class="d-block">Unable to assign group to merchant admin!</strong> {{ groupToMerchantResponse }}
                        </span>
                    </b-alert>
                    <form role="form" name="groupAssignToMerchant"  @submit.prevent="groupAssignToMerchant">
                        <b-form-group>
                            <b-input-group>
                                <b-form-input placeholder="Enter Merchant Admin Email" v-model="maEmail" required></b-form-input>
                                <b-input-group-text slot="prepend">
                                    <font-awesome-icon class="mx-auto" icon="envelope"/>
                                </b-input-group-text>
                            </b-input-group>
                        </b-form-group>
                        <div class="text-center">
                            <b-button variant="second" class="my-4" :disabled="loading" type="submit">
                                <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                                <span>Assign To Merchant Admin</span>
                            </b-button>
                        </div>
                    </form>
                </div>
            </div>
        </b-modal>

        <div class="row">
            <div class="col-md-12 col-xl-12">
            <div class="card card-box mb-5">
                    <div class="card-header pr-2">
                        <div class="card-header--title">
                            <small>XPress Monitor</small>
                            <b>Group Management</b>
                        </div>
                        <div class="card-header--actions">
                           <div class="text-center" v-if="loading === true">
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="success"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="danger"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="primary"></b-spinner>
                            </span>
                        </div>
                        </div>
                    </div>

                    <div class="card-body p-0" v-if="groupsList.lenght < 1">
                        <div class="text-center">
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="success"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="danger"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="primary"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="success"></b-spinner>
                            </span>
                        </div>
                    </div>

                    <div class="card-body p-0" v-else-if="responseMessage !== null" >
                        <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger">
                            <span class="font-size-lg d-block d-40 mr-2 text-center">
                                <font-awesome-icon icon="headset"/>
                            </span>
                            <span>
                                <strong class="d-block">Ooops!</strong> {{ responseMessage }}
                            </span>
                        </b-alert>
                    </div>
                    <div class="card-body p-0" v-else>
                        
                        <div>
                            <div class="table-responsive-xs">
                                <table class="table table-striped table-hover mb-0">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">
                                   Group Name
                                    </th>
                                <th scope="col">
                                   Group Merchant ID
                                    </th>
                                <th scope="col">
                                    Group Owner
                                    </th>
                                <th scope="col">
                                    Group Description
                                    </th>  

                                <th scope="col">
                                    Group Created On
                                    </th> 
                                <th scope="col">
                                    Group Status
                                    </th> 
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            <tr v-for="group in groupsList" :key="group.GrpIrn">
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ group.groupName }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                 {{ group.merchantId }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ group.merchantName }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ group.desdcription }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ group.dateCreated }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                 <td class="status">
                                    <div class="text-center" v-if="group.groupStatus === 0">
                                        <span class="badge badge-success">ACTIVE</span>
                                    </div>
                                    <div class="text-center" v-else>
                                        <span class="badge badge-danger">INACTIVE</span>
                                    </div>
                                </td>
                                <td class="text-center" width="5%">
                                    <b-dropdown no-caret right variant="link p-0 btn-link-primary" class="text-primary">
                                        <template slot="button-content">
                                            <div class="font-size-xl">
                                                <font-awesome-icon icon="ellipsis-h"/>
                                            </div>
                                        </template>
                                        <b-dropdown-item v-if="group.groupStatus === 0" @click.prevent="openAssignModal(group.grpIrn)">
                                            <font-awesome-icon icon="mobile"/>
                                            Assign TID To Group
                                        </b-dropdown-item>
                                        <b-dropdown-item v-if="group.groupStatus === 0" @click.prevent="userToGroupModal(group.grpIrn)">
                                            <font-awesome-icon icon="user-plus"/>
                                            Assign User To Group
                                        </b-dropdown-item>
                                        <b-dropdown-item v-if="group.groupStatus === 0" @click.prevent="groupToMerchantAdminModal(group.grpIrn, group.merchantId)">
                                            <font-awesome-icon icon="user-plus"/>
                                            Assign To Merchant Admin
                                        </b-dropdown-item>
                                        <b-dropdown-item >
                                            <font-awesome-icon icon="ban"/>
                                            Delete Group
                                        </b-dropdown-item>


                                    </b-dropdown>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                            </div>
                            <div class="divider"></div>
                        <div class="divider"></div>
                        <b-list-group-item class="d-flex justify-content-between align-items-center">
                                <div class="w-100">
                                    <div class="d-flex mt-1 justify-content-between align-items-center">
                                        <div class="avatar-wrapper-overlap">
                                        <b-button pill variant="outline-second" @click="fetchAllGroups(pagination.prev_page_url)"
                                                    :disabled="pagination.prev_page_url === null" class="pull-left">
                                                    <font-awesome-icon :icon="['fas', 'chevron-left']" />  Previous Page
                                            </b-button>
                                        </div>
                                        <div>
                                        <b-button pill variant="outline-second" @click="fetchAllGroups(pagination.next_page_url)"
                                                    :disabled="pagination.next_page_url === null" class="pull-right">
                                                        Next Page   <font-awesome-icon :icon="['fas', 'chevron-right']" />
                                            </b-button>
                                        </div>
                                    </div>
                                </div>
                        </b-list-group-item>
                            
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="divider"></div>
                    <b-list-group-item class="d-flex justify-content-between align-items-center">
                            <div class="w-100">
                                <div class="d-flex mt-1 justify-content-between align-items-center">
                                    <div class="avatar-wrapper-overlap">
                                    </div>
                                    <div>
                                        <b-button size="sm" variant="second" @click.prevent="addGroupModal()">
                                            <span class="btn-wrapper--icon">
                                                <font-awesome-icon icon="plus"/>
                                            </span>
                                            <span class="btn-wrapper--label">
                                                Create New Group
                                            </span>
                                        </b-button>
                                    </div>
                                </div>
                            </div>
                    </b-list-group-item>
                </div>
        
        
        
             </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueToast from 'vue-toast-notification'
    Vue.use(VueToast);
    import axios from 'axios'
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {
        faArrowRight,
        faArrowUp,
        faBinoculars,
        faTrashAlt
    } from '@fortawesome/free-solid-svg-icons'

    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

    library.add(
        faArrowRight,
        faArrowUp,
        faBinoculars,
        faTrashAlt
    );


    export default {
        components: {
            'font-awesome-icon': FontAwesomeIcon,
        },
        data: function() {
            return {
                autToken: this.$store.state.auth.user.jwtToken,
                baseUrl: "http://localhost:5000/api/",
                pagination: '',
                responseMessage: null,
                loading: false,
                errorMessage: null,
                groupsList: [],
                groupName: '',
                merchantName: '',
                merchantId: '',
                desdcription: '',
                groupIdForTerminal: '',
                tid: '',
                groupCreateResponse: '',
                assignError: '',
                userToGroupError: '',
                userToGroupResponse: '',
                groupIdForUser: '',
                userEmail: '',
                maEmail: '',
                groupToMerchantResponse: '',
                groupToMerchantError: '',
                groupToMerchantAdminId: '',
                groupMID: ''
            }
        },
        beforeMount(){
            this.fetchAllGroups();
        },
        methods: {
            async fetchAllGroups(pageUrl){

                pageUrl = (typeof pageUrl !== 'undefined') ? pageUrl : this.baseUrl+'MerchantGroups/MerchantGroupsList';

                let vm = this;
                this.loading = true;
                    await axios
                        .get(pageUrl, { headers: {
                        'Authorization': 'Bearer ' +this.autToken
                        } 
                        }).then((response) => {
                            this.loading = false;
                            if(response.data.responseCode === "00"){

                                this.groupsList = response.data.data
                                vm.makePagination(response.data)

                            }else{
                                this.responseMessage = 'No groups available at the moment';
                            }
                    },
                    (error) => {
                        this.loading = false;
                        this.errorMessage = true;
                        this.responseMessage = error;
                    })
                    .catch(function(er){
                        this.loading = false;
                        this.errorMessage = true;
                        this.responseMessage = er;
                    });
            },
             addGroupModal(){
                this.$bvModal.show("addGroup");
            },
            openAssignModal(groupId){
                this.groupIdForTerminal = groupId;
                this.$bvModal.show("terminalModal");
            },
            userToGroupModal(groupId, mid){
                this.groupIdForUser = groupId;
                this.groupMID = mid;
                this.$bvModal.show("userToGroup");
            },
            groupToMerchantAdminModal(groupId){
                this.groupToMerchantAdminId = groupId;
                this.$bvModal.show("groupToMerchantAdmin");
            },
            makePagination: function(data){
                let pagination = {
                    current_page: data.path,
                    last_page: data.lastPage,
                    next_page_url: data.nextPage,
                    prev_page_url: data.previousPage
                }

                this.pagination =  pagination;
            },
            toastData(message, type){
                const form = {
                    message: message,
                    type: type,
                    duration: 5000,
                    dismissible: true,
                    queue: false,
                    position: 'top-right',
                }
                return form;
            },
            async createNewGroupForMerchant(){

                        this.loading = true;
                        const groupCreateRequest = {
                            groupName: this.groupName,
                            merchantId: this.merchantId,
                            merchantName: this.merchantName,
                            desdcription: this.desdcription
                        }
                        const json = JSON.stringify(groupCreateRequest);

                        await axios
                        .post(this.baseUrl+'MerchantGroups/CreateNewMerchantGroup', json, { headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' +this.autToken
                        } 
                        }).then((response) => {
                            this.loading = false;
                            if(response.data.responseCode === "00"){
                                this.errorMessage = false;
                                this.responseMessage = response.data.responseMessage;
                            }else{
                                this.errorMessage = true;
                                this.responseMessage = response.data.responseMessage;
                            }
                    },
                    (error) => {
                        this.loading = false;
                        this.errorMessage = true;
                        this.responseMessage = error;
                    })
                    .catch(function(er){
                        this.loading = false;
                        this.errorMessage = true;
                        this.responseMessage = er;
                    });
            },
            async assignTerminalToGroup(){
                this.loading = true;
                const terminalAssign = {
                    TrmGrpIrn: this.groupIdForTerminal,
                    TrmTerminalId: this.tid
                }
                const json = JSON.stringify(terminalAssign);

                await axios
                .post(this.baseUrl+'MerchantGroups/AssinNewTidToGroup', json, { headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' +this.autToken
                } 
                }).then((response) => {
                    this.loading = false;
                    if(response.data.responseCode === "00"){
                        this.assignError = false;
                        this.groupCreateResponse = response.data.responseMessage;
                    }else{
                        this.assignError = true;
                        this.groupCreateResponse = response.data.responseMessage;
                    }
            },
            (error) => {
                this.loading = false;
                this.assignError = true;
                this.groupCreateResponse = error;
            })
            .catch(function(er){
                this.loading = false;
                this.assignError = true;
                this.groupCreateResponse = er;
            });
            },
            async assignUserToGroup(){
                this.loading = true;
                const terminalAssign = {
                    userEmail: this.userEmail,
                    groupId: this.groupIdForUser
                }
                const json = JSON.stringify(terminalAssign);

                await axios
                .post(this.baseUrl+'MerchantGroups/AssignUserToMerchantGroup', json, { headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' +this.autToken
                } 
                }).then((response) => {
                    this.loading = false;
                    if(response.data.responseCode === "00"){
                        this.userToGroupError = false;
                        this.userToGroupResponse = response.data.responseMessage;
                    }else{
                        this.userToGroupError = true;
                        this.userToGroupResponse = response.data.responseMessage;
                    }
            },
            (error) => {
                this.loading = false;
                this.userToGroupError = true;
                this.userToGroupResponse = error;
            })
            .catch(function(er){
                this.loading = false;
                this.userToGroupError = true;
                this.userToGroupResponse = er;
            });
            },
            async groupToMerchantAdmin(){
                this.loading = true;
                const groupMerchantData = {
                    maEmail: this.userEmail,
                    groupId: this.groupToMerchantAdminId,
                    grpMid: this.groupMID
                }
                const json = JSON.stringify(groupMerchantData);

                await axios
                .post(this.baseUrl+'MerchantGroups/GroupToMerchantAdmin', json, { headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' +this.autToken
                } 
                }).then((response) => {
                    this.loading = false;
                    if(response.data.responseCode === "00"){
                        this.groupToMerchantError = false;
                        this.groupToMerchantResponse = response.data.responseMessage;
                    }else{
                        this.groupToMerchantError = true;
                        this.groupToMerchantResponse = response.data.responseMessage;
                    }
            },
            (error) => {
                this.loading = false;
                this.groupToMerchantError = true;
                this.groupToMerchantResponse = error;
            })
            .catch(function(er){
                this.loading = false;
                this.groupToMerchantError = true;
                this.groupToMerchantResponse = er;
            });
            }
        }
    }
</script>