<template>
    <div>
        <b-modal size="xl" body-class="p-0" :hide-footer="true" :hide-header="true" id="modal-banks" centered>
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <div class="hero-wrapper bg-composed-wrapper bg-plum-plate h-100 rounded-left">
                        <div class="flex-grow-1 w-100 d-flex align-items-center">
                            <div class="bg-composed-wrapper--image rounded-left" :style="{ backgroundImage: 'url(' + require('@/assets/img/hero-bg/hero-1.jpg') + ')' }"></div>
                            <div class="bg-composed-wrapper--bg bg-second opacity-5 rounded-left"></div>
                            <div class="bg-composed-wrapper--content p-5">
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-pill badge-second px-4 h-auto py-1">Bank Profile Creation</span>
                                    <span class="text-white-50 pl-3" v-b-tooltip.hover title="Create a bank profile with predifined Terminal ID prefixes">
                                    <font-awesome-icon icon="question-circle"/>
                                </span>
                                </div>
                                <div class="text-white mt-3">
                                    <h1 class="display-4 my-3 font-weight-bold">
                                        Creating Bank
                                    </h1>
                                    <p class="font-size-md mb-0 text-white-50">
                                        Bank profile defines the terminal IDs series that belong to a bank. This gives the system the ability 
                                        to sort transactions report based on the terminal IDs prefix you're adding.
                                    </p>
                                    <div class="divider border-2 my-4 border-light opacity-2 rounded w-25"></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <b-tabs pills nav-class="nav-line mx-3 my-4">
                        <b-tab title="Overview" active>
                            <div slot="title">
                                Bank Details
                                <div class="divider"></div>
                            </div>
                            <div class="px-4 py-2">
                                 <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="success" v-if="errorMessage === false">
                                    <span class="font-size-lg d-block d-40 mr-2 text-center">
                                        <font-awesome-icon icon="life-ring"/>
                                    </span>
                                    <span>
                                        <strong class="d-block">Bank Profile Created! </strong> {{ responseMessage }}
                                    </span>
                                </b-alert>
                                <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger" v-else-if="errorMessage === true">
                                    <span class="font-size-lg d-block d-40 mr-2 text-center">
                                        <font-awesome-icon icon="life-ring"/>
                                    </span>
                                    <span>
                                        <strong class="d-block">Unable to create Bank profile!</strong> {{ responseMessage }}
                                    </span>
                                </b-alert>
                                <form role="form" ref="createUserForm">
                                <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="card card-box text-black-50 mb-5 p-3">
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="Bank Name" required="true" v-model="bankName"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="home"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="Terminal ID Prefix" required="true" v-model="prefixOne"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="mobile"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="card card-box text-black-50 mb-5 p-3">
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="Terminal ID Prefix" required="true" v-model="prefixThree"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="mobile"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                        <b-form-group>
                                            <b-input-group>
                                                <b-form-input placeholder="Terminal ID Prefix" required="true" v-model="prefixTwo"></b-form-input>
                                                <b-input-group-text slot="prepend">
                                                    <font-awesome-icon class="mx-auto" icon="mobile"/>
                                                </b-input-group-text>
                                            </b-input-group>
                                        </b-form-group>
                                    </div>
                                </div>
                            </div>

                            <div class="row" v-if="loading === false">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-6" v-if="loading === false">
                                    <b-button variant="outline-primary" class="mb-4" type="submit" @click.prevent="createNewBankProfile">
                                    Add New Bank
                                    </b-button>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>

                            <div class="row" v-else>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-6">
                                    <div class="text-center">
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="primary"></b-spinner>
                                        </span>
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="success"></b-spinner>
                                        </span>
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="danger"></b-spinner>
                                        </span>
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="warning"></b-spinner>
                                        </span>
                                        <span class="p-2">
                                            <b-spinner type="grow" label="Loading..." variant="info"></b-spinner>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                            </form>
                            </div>
                        </b-tab>
                    </b-tabs>
                </div>
            </div>
        </b-modal>

        <div class="row">
            <div class="col-md-12 col-xl-12">
            <div class="card card-box mb-5">
                    <div class="card-header pr-2">
                        <div class="card-header--title">
                            <small>XPress Monitor</small>
                            <b>Bank Management</b>
                        </div>
                        <div class="card-header--actions">
                           <div class="text-center" v-if="loading === true">
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="success"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="danger"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="primary"></b-spinner>
                            </span>
                        </div>
                        </div>
                    </div>

                    <div class="card-body p-0" v-if="usersList.lenght < 1">
                        <div class="text-center">
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="success"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="danger"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="primary"></b-spinner>
                            </span>
                            <span class="p-2">
                                <b-spinner label="Loading..." variant="success"></b-spinner>
                            </span>
                        </div>
                    </div>

                    <div class="card-body p-0" v-else-if="responseMessage !== null" >
                        <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger">
                            <span class="font-size-lg d-block d-40 mr-2 text-center">
                                <font-awesome-icon icon="headset"/>
                            </span>
                            <span>
                                <strong class="d-block">Ooops!</strong> {{ responseMessage }}
                            </span>
                        </b-alert>
                    </div>
                    <div class="card-body p-0" v-else>
                        
                        <div>
                            <div class="table-responsive-xs">
                                <table class="table table-striped table-hover mb-0">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">
                                   Terminal Prefix
                                    </th>
                                <th scope="col">
                                   Bank Name
                                    </th>
                                <th scope="col">
                                    Date Created
                                    </th>
                                <th scope="col">
                                    Status
                                    </th>  
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            <tr v-for="bank in bankPrefixData" :key="bank.id">
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ bank.terminalIdPrefix }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                 {{ bank.bankName }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ dateFormatter(bank.createdAt) }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" width="5%">
                                    <b-dropdown no-caret right variant="link p-0 btn-link-primary" class="text-primary">
                                        <template slot="button-content">
                                            <div class="font-size-xl">
                                                <font-awesome-icon icon="ellipsis-h"/>
                                            </div>
                                        </template>
                                        <b-dropdown-item >
                                            <font-awesome-icon icon="user-slash"/>
                                            Delete Bank
                                        </b-dropdown-item>

                                    </b-dropdown>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                            </div>
                            <div class="divider"></div>
                                <div class="divider"></div>
                                <b-list-group-item class="d-flex justify-content-between align-items-center">
                                        <div class="w-100">
                                            <div class="d-flex mt-1 justify-content-between align-items-center">
                                                <div class="avatar-wrapper-overlap">
                                                </div>
                                                <div>
                                                    <b-button size="sm" variant="first" @click.prevent="addBankModal()">
                                                        <span class="btn-wrapper--icon">
                                                            <font-awesome-icon icon="home"/>
                                                        </span>
                                                        <span class="btn-wrapper--label">
                                                            Add New Bank
                                                        </span>
                                                    </b-button>
                                                </div>
                                            </div>
                                        </div>
                                </b-list-group-item>
                        </div>
                    </div>
                </div>
        
        
        
             </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import VueToast from 'vue-toast-notification'
    Vue.use(VueToast);
    import axios from 'axios'
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {
        faArrowRight,
        faArrowUp,
        faBinoculars,
        faTrashAlt
    } from '@fortawesome/free-solid-svg-icons'

    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

    library.add(
        faArrowRight,
        faArrowUp,
        faBinoculars,
        faTrashAlt
    );


    export default {
        components: {
            'font-awesome-icon': FontAwesomeIcon,
        },
        data: function() {
            return {
                autToken: this.$store.state.auth.user.jwtToken,
                baseUrl: "http://localhost:5000/api/",
                usersList: [],
                pagination: '',
                responseMessage: null,
                loading: false,
                bankName: '',
                prefixOne: '',
                prefixTwo: '',
                prefixThree: '',
                errorMessage: null,
                bankPrefixData: []
            }
        },
        beforeMount(){
            this.fetchBankList();
        },
        methods: {
            async getUserList(pageUrl){
                let vm = this;
                pageUrl = pageUrl || this.baseUrl+'Auth/GetAllUsers'
               
               await axios
                .get(pageUrl, { headers: {
                'Authorization': 'Bearer '+this.autToken
                } })
                .then(response => {
                    //console.log(response.data);

                    this.usersList = response.data.data
                    vm.makePagination(response.data)
                },
                (error) => {
                    this.responseMessage = error;
                })
                .catch(function (error) {
                    this.responseMessage = error;
                })
            },
            async fetchBankList(){

                this.loading = true;
                    await axios
                        .get(this.baseUrl+'Transactions/GetBankWithPrefix', { headers: {
                        'Authorization': 'Bearer ' +this.autToken
                        } 
                        }).then((response) => {
                            this.loading = false;
                            if(response.data.responseCode === "00"){
                                this.bankPrefixData = response.data.data;
                            }
                    },
                    (error) => {
                        this.loading = false;
                        this.errorMessage = true;
                        this.responseMessage = error;
                    })
                    .catch(function(er){
                        this.loading = false;
                        this.errorMessage = true;
                        this.responseMessage = er;
                    });
            },
            makePagination: function(data){
                let pagination = {
                    current_page: data.path,
                    last_page: data.lastPage,
                    next_page_url: data.nextPage,
                    prev_page_url: data.previousPage
                }

                this.pagination =  pagination;
            },
            async userActionResult(action, data){

                let endpoint, payload;
                switch(true){
                    case action === 'APPROVE':
                        payload = data;
                        endpoint = 'Auth/ApproveUser';
                    break;

                    case action === 'DISAPPROVE':
                        payload = data;
                        endpoint = 'Auth/DisapproveUser';
                    break;
                }

                this.loading = true;

                await axios
                .put(this.baseUrl+endpoint, payload, {
                    headers: {
                        'Authorization': 'Bearer '+this.autToken
                    }
                })
                .then(response => {
                    
                    this.loading = false;
                    let type = (response.data.responseCode === '00') ? 'success' : 'error', message = response.data.responseMessage;
                    this.$toast.open(this.toastData(message, type));

                },
                (error) => {
                    this.loading = false;
                    let message = error, type = 'error';
                    this.$toast.open(this.toastData(message, type));
                })
                .catch(function(err){
                    this.loading = false;
                    let message = err, type = 'error';
                    this.$toast.open(this.toastData(message, type));
                })
                
            },
             addBankModal(){
                this.$bvModal.show("modal-banks");
            },
            async createNewBankProfile(){
                this.loading = true;
                const filterRequest = {
                    BankName: this.bankName,
                    Prefixes: [
                        this.prefixOne,
                        this.prefixTwo,
                        this.prefixThree
                    ]
                }

                if(filterRequest.BankName === ''){

                    this.$toast.open(this.toastData("Please provide bank name", "error"));
                    this.loading = false;
                    return;
                }

                if(filterRequest.Prefixes[0].length < 1){

                    this.$toast.open(this.toastData("Please provide at least one TID prefix", "error"));
                    this.loading = false;
                    return;
                }

                const json = JSON.stringify(filterRequest);

                await axios
                .post(this.baseUrl+'Transactions/CreateNewBankProfile', json, { headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' +this.autToken
                } 
                }).then((response) => {
                    this.loading = false;
                    if(response.data.responseCode === "00"){
                        this.errorMessage = false;
                        this.responseMessage = response.data.responseMessage;
                    }else{
                        this.errorMessage = true;
                        this.responseMessage = response.data.responseMessage;
                    }
             },
            (error) => {
                this.loading = false;
                this.errorMessage = true;
                this.responseMessage = error;
            })
            .catch(function(er){
                this.loading = false;
                this.errorMessage = true;
                this.responseMessage = er;
            });
            },
            toastData(message, type){
                const form = {
                    message: message,
                    type: type,
                    duration: 5000,
                    dismissible: true,
                    queue: false,
                    position: 'top-right',
                }
                return form;
            },
            dateFormatter(date){
                let dateTo = new Date(date);
                let newFormatToDate = dateTo.getFullYear() + '-' + (dateTo.getMonth() +1) + '-' + dateTo.getDate(); 
                return newFormatToDate;
            }
        }
    }
</script>