<template>
    <div class="app-wrapper bg-white h-100">
        <div class="app-main">
            <a href="#" class="btn btn-lg btn-go-back btn-outline-first">
            <span class="btn-wrapper--icon">
                <font-awesome-icon icon="envelope" />
            </span>
                <span class="btn-wrapper--label">Send us a feedback</span>
            </a>
            <div class="divider border-2 border-primary bg-primary"></div>
            <div class="app-content p-0">
                <div class="app-content--inner d-flex align-items-center">
                    <div class="flex-grow-1 w-100 d-flex align-items-center">
                        <div class="bg-composed-wrapper--content py-5">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 pl-0 d-none d-lg-flex align-items-center">
                                        <img src="@/assets/img/illustrations/login.svg" class="w-75 mx-auto d-block img-fluid" alt="">
                                    </div>
                                    <div class="col-lg-6 pr-0 d-flex align-items-center">
                                        <div class="pl-5">
                                            <div class="text-black mt-3">
                                                <h1 class="display-3 mb-3 font-weight-bold">
                                                   XPress Monitor - Login
                                                </h1>
                                                <p class="font-size-lg mb-0 text-black-50">
                                                    We're glad you're here to monitor your transactions
                                                </p>
                                                <br>
                                                <br>
                                                <div>
                                                    <form name="form" @submit.prevent="handleLogin">
                                                        <div class="form-group">
                                                            <label>Email address</label>
                                                            <input type="email" class="form-control" placeholder="yourname@yourmail.com" v-model="user.email" v-validate="'required'" name="email">
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="d-flex justify-content-between">
                                                                <label>Password</label>
                                                            </div>
                                                            <input type="password" class="form-control" placeholder="Enter your password" v-model="user.password" v-validate="'required'">
                                                        </div>

                                                        <button class="btn btn-lg btn-second btn-block" :disabled="loading" type="submit">
                                                            <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                                                            <span>Login</span>
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="text-center pt-4 text-black-50" v-if="message != ''">
                                                    <b-alert dismissible show class="d-flex align-items-center pl-2 align-content-center" variant="danger" v-if="alertType == 'error'">
                                                        <span>
                                                           {{ message }}
                                                        </span>
                                                    </b-alert>
                                                    <b-alert dismissible show class="d-flex align-items-center pl-2 align-content-center" variant="success" v-if="alertType == 'success'">
                                                        <span>
                                                           {{ message }}
                                                        </span>
                                                    </b-alert>
                                                    <b-button variant="primary" size="sm" @click.prevent="clearAllLogins()" v-if="message == 'You are already logged in on this PC.' || message == 'You are already logged in on another PC.'">
                                                      Log me out of other devices
                                                    </b-button>
                                                    
                                                </div>
                                                <div class="text-center pt-4 text-black-50">
                                                    Don't have an account?
                                                    <router-link tag="a" to="#" exact title="Create an account">
                                                        Request for one
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
    import User from '../../models/user'

    export default {
        name: 'Login',
  data() {
    return {
      user: new User('', ''),
      loading: false,
      message: '',
      alertType: ''
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  created() {
    if (this.loggedIn) {
      this.$router.push('/home');
    }
  },
  methods: {
    handleLogin() {
      this.loading = true;

      this.$validator.validateAll().then(isValid => {

        if (!isValid) {
          this.loading = false;
          this.message = 'Email and password is required';
          return;
        }else if(isValid && this.message !== ''){
          this.message = '';
        }
        
        if (this.user.email && this.user.password) {
          this.$store.dispatch('auth/login', this.user).then(
            () => {
              this.$router.push('/home');
            },
            error => {

              //console.log(error);

              this.loading = false;
              this.alertType = 'error';
              this.message = error.responseMessage;
            }
          );
        }
      });
    },
    clearAllLogins(){
      axios
        .post('http://localhost:5000/api/Auth/Logout', {
            email: btoa(this.user.email)
        })
        .then(response => {
            console.log(response);
            this.alertType = 'success';
            this.message = response.data.responseMessage;
        });
    }
  },
components: {
    'font-awesome-icon': FontAwesomeIcon,
}
}
</script>