<template>
    <div class="app-wrapper bg-white">
        <div class="app-main">
            <div class="app-content p-0">
                <div class="app-content--inner p-0">
                    <div class="flex-grow-1 w-100 d-flex align-items-center">
                        <div class="bg-composed-wrapper--content">
                            <div class="row no-gutters">
                                <div class="col-lg-5">
                                    <div class="hero-wrapper bg-composed-wrapper bg-plum-plate min-vh-100">
                                        <div class="flex-grow-1 w-100 d-flex align-items-center">
                                            <div class="bg-composed-wrapper--image" :style="{ backgroundImage: 'url(' + require('@/assets/img/hero-bg/hero-9.jpg') + ')' }"></div>
                                            <div class="bg-composed-wrapper--bg bg-premium-dark opacity-5"></div>
                                            <div class="bg-composed-wrapper--content p-5">
                                                <div class="d-flex align-items-center">
                                                    <span class="badge badge-pill badge-second px-4 h-auto py-1">Set new password</span>
                                                    <span class="text-white-50 pl-3" v-b-tooltip.hover title="Set a new password for your accoun. Something you can remember">
                                                        <font-awesome-icon icon="question-circle" />
                                                    </span>
                                                </div>
                                                <div class="text-white mt-3">
                                                    <h1 class="display-4 my-3 font-weight-bold">
                                                        Why should you create a new password?
                                                    </h1>
                                                    <p class="font-size-md mb-0 text-white-50">
                                                        We couldn't just let you use a password that was not created by you :)
                                                    </p>
                                                    <div class="divider border-2 my-4 border-light opacity-2 rounded w-25"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 d-flex align-items-center">
                                    <div class="col-lg-6 mx-auto px-0">

                                        <b-tabs pills nav-class="nav-line mx-3 my-5">
                                            <b-tab title="Overview" active>
                                                <div slot="title">
                                                    XPress Monitor
                                                    <div class="divider"></div>
                                                </div>
                                                <div class="px-4 py-2" v-if="getDefault === null && errorMessage === null">
                                                    <div class="text-center">
                                                        <span class="p-2">
                                                            <b-spinner label="Loading..." variant="success"></b-spinner>
                                                        </span>
                                                        <span class="p-2">
                                                            <b-spinner label="Loading..." variant="danger"></b-spinner>
                                                        </span>
                                                        <span class="p-2">
                                                            <b-spinner label="Loading..." variant="primary"></b-spinner>
                                                        </span>
                                                        <span class="p-2">
                                                            <b-spinner label="Loading..." variant="success"></b-spinner>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div v-else-if="errorMessage !== null && getDefault === null">
                                                    <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger">
                                                        <span class="font-size-lg d-block d-40 mr-2 text-center">
                                                            <font-awesome-icon icon="headset"/>
                                                        </span>
                                                        <span>
                                                            <strong class="d-block">Ooops!</strong> {{ errorMessage }}
                                                        </span>
                                                    </b-alert>
                                                </div>
                                                <div class="px-4 py-2" v-else>
                                                    <h3 class="display-4 mb-2 font-weight-bold">
                                                        Create New Password
                                                    </h3>
                                                    <form name="setPwd" @submit.prevent="setNewPassword">
                                                        <div class="form-group">
                                                        <div class="d-flex justify-content-between mg-b-5">
                                                            <label>Password</label>
                                                        </div>
                                                        <input type="password" class="form-control" placeholder="Enter your new password" v-model="pwd" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="d-flex justify-content-between mg-b-5">
                                                                <label>Repeat Password</label>
                                                            </div>
                                                            <input type="password" class="form-control" placeholder="Repeat new password" v-model="repeatPwd" required>
                                                        </div>
                                                        <div class="form-group mb-5">
                                                            By clicking the <strong>Create Password</strong> button below you agree to our terms of service and privacy policy.
                                                        </div>

                                                        <button class="btn btn-primary btn-lg btn-block" :disabled="loading" type="submit">
                                                            <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                                                            <span>Create Password</span>
                                                        </button>
                                                        <div v-if="changePwdValidator !== null">
                                                            <div class="divider"></div>
                                                            <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger">
                                                                <span class="font-size-lg d-block d-40 mr-2 text-center">
                                                                    <font-awesome-icon icon="headset"/>
                                                                </span>
                                                                <span>
                                                                    <strong class="d-block">Ooops!</strong> {{ changePwdValidator }}
                                                                </span>
                                                            </b-alert>
                                                        </div>
                                                    </form>
                                                </div>
                                            </b-tab>
                                        </b-tabs>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

    export default {
        components: {
            'font-awesome-icon': FontAwesomeIcon,
        },
        data: function(){
            return {
                getDefault: null,
                errorMessage: null,
                API_URL: 'http://localhost:5000/api/',
                changePwdValidator: null,
                pwd: '',
                repeatPwd: '',
                loading: false

            }
        },
        beforeMount(){
            this.authenticateUser();
        },
        methods: {
            authenticateUser(){
                //console.log(this.$route.query.a);
                axios
                .post(this.API_URL+'Auth/Login', {
                    email: btoa(decodeURIComponent(this.$route.query.a)),
                    password: btoa(decodeURIComponent(this.$route.query.k))
                })
                .then(response => {
                    if (response.data.responseCode === "00") {

                    //localStorage.setItem('user', JSON.stringify(response.data));
                    this.getDefault = response.data;

                    }else{
                        this.getDefault = null;
                        this.errorMessage = "We could not authenticate the link you clicked from your email. Please contact system admin";
                        //response.data.responseMessage;
                    }

                });
            },
            setNewPassword(){
                this.loading = true;
                if(this.pwd !== this.repeatPwd){
                    this.changePwdValidator = 'Repeat Password does not match your new Password';

                    this.loading = false;
                    return;
                }
                axios
                .post(this.API_URL+'Auth/ChangePassword', {
                    email: btoa(this.$route.query.a),
                    oldPassword: btoa(decodeURIComponent(this.$route.query.k)),
                    newPassword: btoa(this.repeatPwd)
                })
                .then(response => {
                    if (response.data.responseCode === "00") {

                    //localStorage.setItem('user', JSON.stringify(response.data));
                    //this.getDefault = response.data;

                    axios
                    .post(this.API_URL+'Auth/Logout', {
                        email: btoa(this.$route.query.a)
                    })
                    .then(response => {
                        console.log(response);
                        this.$store.dispatch('auth/logout');
                        this.$router.push('/');
                    });

                    }else{
                        this.loading = false;
                        this.changePwdValidator = response.data.responseMessage;
                    }

                });
            }
        }
    }
</script>
