<template>
    <div>
        <div class="card card-box mb-5">
            <div class="card-body">
                <apexchart type=line height=350 :options="chartOptions2" :series="series2" />
            </div>
        </div>
    </div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'

    export default {
        components: {
            apexchart: VueApexCharts,
        },
        data: function () {
            return {
                series2: [{
                    type: 'column',
                    data: [96049.99, 4010746.24, 29600, 22700, 490849.01, 10000, 460180.01, 13100, 3900, 30200, 4170, 350]
                }],
                chartOptions2: {
                    dataLabels: {
                        enabled: false
                    },

                    stroke: {
                        width: [1, 1, 4]
                    },
                    title: {
                        text: 'XPress Monitor - Errors Analysis',
                        align: 'left',
                        offsetX: 110
                    },
                    xaxis: {
                        categories: ['Do not honor (05)', 'Error (06)', '61', '55', '91', '56', '51', '01', '68', '96', '58', '57'],
                    },
                    yaxis: [{
                        axisTicks: {
                            show: true,
                        },
                        axisBorder: {
                            show: true,
                            color: '#008FFB'
                        },
                        labels: {
                            style: {
                                color: '#008FFB',
                            }
                        },
                        title: {
                            text: "Declined Amount",
                            style: {
                                color: '#006325',
                            }
                        },
                        tooltip: {
                            enabled: true
                        }
                    },

                        {
                            seriesName: 'Income',
                            opposite: true,
                            axisTicks: {
                                show: true,
                            },
                            axisBorder: {
                                show: true,
                                color: '#00E396'
                            },
                            labels: {
                                style: {
                                    color: '#00E396',
                                }
                            },
                            title: {
                                text: "Operating Cashflow (thousand crores)",
                                style: {
                                    color: '#00E396',
                                }
                            },
                        },
                    ],
                    tooltip: {
                        fixed: {
                            enabled: true,
                            position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft //100779496623
                            offsetY: 30,
                            offsetX: 60
                        },
                    },
                    legend: {
                        horizontalAlign: 'left',
                        offsetX: 40
                    }
                }
            }
        }
    }
</script>