<template>
    <div>
        <xpressAnalysis></xpressAnalysis>
         <simpleBlocks></simpleBlocks>
        <div class="card card-box mb-5">
                <div class="card-header pr-2">
                <div class="card-header--title">
                    <small>Transaction Monitoring</small>
                    <b>All Declined Transactions</b>
                </div>
                <div class="card-header--actions">
                    <a href="javascript:void(0)" class="btn btn-sm text-primary btn-link" v-b-tooltip.hover title="Refresh">
                        <b-badge variant="dark" class="badge-circle">Dark</b-badge>
                    </a>
                </div>
            </div>
                <div class="card-body pb-2">
                    <div class="pt-3">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <datepicker placeholder="From Date" @input="formatPicker()" v-model="FromDate" calendar-class="datepicker datepicker-dropdown dropdown-menu" :bootstrap-styling="true" format="yyyy-MM-dd"></datepicker>
                                </div>
                                <div class="form-group col-md-2">
                                    <datepicker placeholder="To Date" @input="formatPickerTo()" v-model="ToDate" calendar-class="datepicker datepicker-dropdown dropdown-menu" :bootstrap-styling="true" format="yyyy-MM-dd"></datepicker>
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="text" class="form-control" v-model="TerminalId" placeholder="Terminal ID">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="text" class="form-control" v-model="RRN" placeholder="RRN">
                                </div>
                                <div class="form-group col-md-2">
                                    <input type="text" class="form-control" v-model="MerchantId" placeholder="Merchant ID">
                                </div>
                                <div class="form-group col-md-2">
                                    <select id="inputState" class="form-control" v-model="TransactionStatus">
                                        <option value="">Transaction Status</option>
                                        <option value="APPROVED">APPROVED</option>
                                        <option value="DECLINED">DECLINED</option>
                                        <option value="PENDING">PENDING</option>
                                        <option value="STATUS UNKOWN">STATUS UNKOWN</option>
                                    </select>
                                </div>
                            </div>
                                <div class="align-box-row">
                                    <div class="col-md-3">
                                        <div class="align-items-center">
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="align-items-center">
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="row">
                                            <div class="col-md-5 text-right">
                                            </div>
                                        <div class="col-md-4 text-right">
                                            <downloadexcel
                                                class = "btn btn-info btn-sm"
                                                :fetch   = "filterTransactionsSearchDownload"
                                                :fields = "json_fields"
                                                :before-generate = "startDownload"
                                                :before-finish = "finishDownload"
                                                type = "xlsx" variant="info" size="sm"
                                                :disabled="loading" >
                                                <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                                                
                                                <span class="btn-wrapper--icon">
                                                    <font-awesome-icon icon="download"/>
                                                </span>
                                                <span class="btn-wrapper--label">Download</span>
                                            </downloadexcel>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <b-button variant="success" size="sm" @click.prevent="filterTransactionsSearch"
                                            :disabled="loadingsearch" >
                                                <span v-show="loadingsearch" class="spinner-border spinner-border-sm"></span>
                                                <span class="btn-wrapper--icon">
                                                    <font-awesome-icon icon="search"/>
                                                </span>
                                                <span class="btn-wrapper--label">Search</span>
                                            </b-button>
                                        </div>
                                        </div>
                                    </div>
                                
                            </div>
                            <div class="row">
                                <br>
                            </div>
                            <div class="divider"></div>
                        </form>
                    </div>

                    <b-modal title="E-Journal Details" :id="'modal-b3'" :hide-footer="true" size="md" centered scrollable>
                            
                        <div class="card-body p-4" v-if="ejournalTxn === null">
                            <div class="text-center">
                                <span class="p-2">
                                    <b-spinner label="Loading..." variant="success"></b-spinner>
                                </span>
                                <span class="p-2">
                                    <b-spinner label="Loading..." variant="danger"></b-spinner>
                                </span>
                                <span class="p-2">
                                    <b-spinner label="Loading..." variant="primary"></b-spinner>
                                </span>
                                <span class="p-2">
                                    <b-spinner label="Loading..." variant="success"></b-spinner>
                                </span>
                            </div>
                        </div>
                        <div class="card-body p-4" v-else>
                            <div class="card card-box-alt card-border-top border-first mb-5 pb-4">
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-8 text-center">
                                        <p class="card-text px-4 mb-4">
                                            www.xpresspayments.com <br>
                                            +23416312430
                                        </p>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <img :src="getBankLogo(ejournalTxn.terminalid)" alt="" width="120">
                                        <br>
                                    </div>
                                    <div class="col-lg-4">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-8 text-center">
                                        <p class="card-text px-4 mb-4">
                                            XPRESS PAYMENT
                                        </p>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>
                                <h3 class="font-size-lg font-weight-bold mt-5 mb-4">{{ ejournalTxn.merchantName || 'JOHN DOE' }}</h3>
                                 <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-10 text-center">
                                        <div class="row">
                                            <div class="col-md-6 text-left">
                                                {{ ejournalTxn.datelocaltransaction }}
                                            </div>
                                            <div class="col-md-6 text-right">
                                                {{ ejournalTxn.timelocaltransaction }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                TERMINAL ID
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                {{ ejournalTxn.terminalid }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                MERCHANT ID
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                {{ ejournalTxn.merchantId }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center font-size-sm">
                                                ***********************************************************
                                            </div>
                                            <div class="col-md-12 text-center font-size-sm font-weight-bold">
                                               {{ ejournalTxn.trantype }}
                                            </div>
                                            <div class="col-md-12 text-center font-size-sm">
                                                --------------------------------------------------------------------------------
                                            </div>
                                            <div class="col-md-12 text-center font-size-sm">
                                                **CUSTOMER COPY**
                                            </div>
                                            <div class="col-md-12 text-center font-size-sm">
                                                --------------------------------------------------------------------------------
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                PAN
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                {{ ejournalTxn.pan }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                EXPIRY
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                {{ '' }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                NAME
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                {{ ejournalTxn.customerName }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                BATCH NO
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                {{ ejournalTxn.batchno }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                SEQ NO
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                {{ ejournalTxn.seqno }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                STAN
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                {{ ejournalTxn.stan }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                RRN
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                {{ ejournalTxn.rrn }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                AUTH ID
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                {{ ejournalTxn.authorizationCode }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                AMOUNT
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                {{ txnAmountFormat(ejournalTxn.amount , 2) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                ACCOUNT
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                {{ (ejournalTxn.accounttype) === '0' ? 'DEFAULT' : 'SAVINGS' }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <b-badge variant="second font-size-lg font-weight-bold ">
                                                    {{ ejournalTxn.t_status }}
                                                    </b-badge>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center font-size-sm">
                                                <br>
                                               {{ ejournalTxn.responsedescription }}
                                            </div>
                                            <div class="col-md-12 text-center font-size-sm">
                                                --------------------------------------------------------------------------------
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                AID
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                CARD
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                N/A
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                AC
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                N/A
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                TVR
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                N/A
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 text-left font-size-sm">
                                                TST
                                            </div>
                                            <div class="col-md-6 text-right font-size-sm">
                                                N/A
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center font-size-sm">
                                                Firstcontact 01-
                                            </div>
                                            <div class="col-md-12 text-center font-size-sm">
                                                ***********************************************************
                                            </div>

                                            <div class="col-md-12 text-center font-size-sm">
                                                ***Xpresspos 2.1***
                                            </div>
                                            <div class="col-md-12 text-center font-size-sm">
                                                www.xpresspayments.com
                                            </div>
                                            <div class="col-md-12 text-center font-size-sm">
                                                +23416312430
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <a href="javascript:void(0);" class="btn btn-link btn-link-first mb-2 p-0" title="Print e-journal">
                                    <span>Print e-journal</span>
                                </a>
                            </div>
                        </div>
                    </b-modal>

                    <b-modal title="Transaction Details" :id="'modal-b2'" :hide-footer="true" size="md" centered scrollable>
                            
                            <div class="card card-box">
                                    <div class="card-body p-4" v-if="singleTxn === null">
                                        <div class="text-center">
                                            <span class="p-2">
                                                <b-spinner label="Loading..." variant="success"></b-spinner>
                                            </span>
                                            <span class="p-2">
                                                <b-spinner label="Loading..." variant="danger"></b-spinner>
                                            </span>
                                            <span class="p-2">
                                                <b-spinner label="Loading..." variant="primary"></b-spinner>
                                            </span>
                                            <span class="p-2">
                                                <b-spinner label="Loading..." variant="success"></b-spinner>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="card-body p-4" v-else>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <h1 class="display-4 font-weight-bold">
                                                    TID: {{ singleTxn.terminalid }}
                                                </h1>
                                                <p class="mb-0 text-black-50">
                                                    MID: {{ singleTxn.merchantId }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="divider my-3"></div>
                                        <div class="d-flex justify-content-between">
                                            <div class="table-responsive-xs">
                                        <table class="table table-striped table-hover table-sm">
                                            <tbody class="list">
                                            <tr>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block text-center">
                                                                <b-badge variant="second">Transaction Type Code</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block">
                                                                <b-badge variant="info">{{ singleTxn.mti }}</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block text-center">
                                                                <b-badge variant="second">Transaction Type</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block">
                                                                <b-badge variant="info">{{ singleTxn.trantype }}</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block text-center">
                                                                <b-badge variant="second">Transaction Amount</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block">
                                                                <b-badge variant="info">{{ singleTxn.amount }}</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block text-center">
                                                                <b-badge variant="second">Transaction STAN</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block">
                                                                <b-badge variant="info">{{ singleTxn.stan }}</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block text-center">
                                                                <b-badge variant="second">Card masked PAN</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block">
                                                                <b-badge variant="info">{{ singleTxn.pan }}</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block text-center">
                                                                <b-badge variant="second">Auth response Code</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block">
                                                                <b-badge variant="info">{{ singleTxn.aurhorisationresponse }}</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block text-center">
                                                                <b-badge variant="second">Transaction currency Code</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block">
                                                                <b-badge variant="info">{{ singleTxn.currencycode }}</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block text-center">
                                                                <b-badge variant="second">Transaction Date</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="owner">
                                                    <div class="align-box-row">
                                                        <div class="pl-2">
                                                            <span class="d-block">
                                                                <b-badge variant="info">{{ singleTxn.transactiondate+' - '+singleTxn.transactiontime }}</b-badge>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                        </div>
                                        <div class="divider mb-4"></div>
                                        <div>

                                            <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="success" v-if="singleTxn.t_status === 'APPROVED'">
                                                <span class="font-size-lg d-block d-40 mr-2 text-center">
                                                    <font-awesome-icon icon="life-ring"/>
                                                </span>
                                                <span>
                                                    <strong class="d-block">Approved!</strong> {{ singleTxn.responsedescription }}
                                                </span>
                                            </b-alert>
                                            <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger" v-else>
                                                <span class="font-size-lg d-block d-40 mr-2 text-center">
                                                    <font-awesome-icon icon="life-ring"/>
                                                </span>
                                                <span>
                                                    <strong class="d-block">Declined!</strong> {{ singleTxn.responsedescription }}
                                                </span>
                                            </b-alert>
                                        </div>
                                    </div>
                            </div>
                    </b-modal>

                    <div class="card-body p-0" v-if="transactions.lenght < 1 && transactionsFiltered.lenght < 1">
                            <div class="text-center">
                                <span class="p-2">
                                    <b-spinner label="Loading..." variant="success"></b-spinner>
                                </span>
                                <span class="p-2">
                                    <b-spinner label="Loading..." variant="danger"></b-spinner>
                                </span>
                                <span class="p-2">
                                    <b-spinner label="Loading..." variant="primary"></b-spinner>
                                </span>
                                <span class="p-2">
                                    <b-spinner label="Loading..." variant="success"></b-spinner>
                                </span>
                            </div>
                        </div>
                        <div class="card-body p-0" v-else-if="transactionError !== null" >
                            <b-alert show class="d-flex align-items-center pl-2 align-content-center" variant="danger">
                                <span class="font-size-lg d-block d-40 mr-2 text-center">
                                    <font-awesome-icon icon="headset"/>
                                </span>
                                <span>
                                    <strong class="d-block">Ooops!</strong> {{ transactionError }}
                                </span>
                            </b-alert>
                        </div>
                    <div v-else-if="transactionsFiltered.length > 0">
                    <div class="table-responsive-xs">
                        <table class="table table-striped table-hover table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">TID</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date/Time</th>
                                <th scope="col">RRN</th>
                                <th scope="col">PAN</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Stan</th>   
                                <th scope="col">Merchant</th>  
                                <th scope="col">Currency</th> 
                                <th scope="col">Response</th>
                                <th scope="col" class="text-center">Status</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            <tr  v-for="txn in transactionsFiltered" :key="txn.id"  v-if="txn.t_status !== 'APPROVED'">
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block text-center">
                                                <b-badge variant="second">{{ txn.terminalid }}</b-badge>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.trantype }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                <b-badge variant="neutral-dark" class="text-dark">{{ txn.transactiondate }}</b-badge>
                                                <b-badge variant="neutral-info" class="text-info">{{ txn.transactiontime }}</b-badge>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.rrn }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.pan }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                <font-awesome-icon icon="money-alt" class="font-size-sm"/>
                                                <b-badge variant="info">{{ txnAmountFormat(txn.amount, 2) }}</b-badge>
                                                
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.stan }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.merchantId }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.currencycode }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.responsedescription }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="status">
                                    <div class="text-center" v-if="txn.t_status === 'DECLINED' || txn.t_status === null">
                                        <span class="badge badge-danger">{{ txn.t_status }}</span>
                                    </div>
                                    <div class="text-center" v-else>
                                        <span class="badge badge-success">{{ txn.t_status }}</span>
                                    </div>
                                </td>
                                <td class="text-center" width="5%">
                                    <b-dropdown no-caret right variant="link p-0 btn-link-primary" class="text-primary">
                                        <template slot="button-content">
                                            <div class="font-size-xl">
                                                <font-awesome-icon icon="ellipsis-h"/>
                                            </div>
                                        </template>
                                        <b-dropdown-item @click.prevent="openModalDetail(txn.id)">View Details</b-dropdown-item>
                                        <b-dropdown-item @click.prevent="openEjournalModal(txn.id)">E-receipt</b-dropdown-item>
                                    </b-dropdown>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="divider"></div>
                        <div class="divider"></div>
                        <b-list-group-item class="d-flex justify-content-between align-items-center">
                                <div class="w-100">
                                    <div class="d-flex mt-1 justify-content-between align-items-center">
                                        <div class="avatar-wrapper-overlap">
                                        <b-button pill variant="outline-second" @click="filterTransactionsSearch(pagination.prev_page_url)"
                                                    :disabled="pagination.prev_page_url === null" class="pull-left">
                                                    <font-awesome-icon :icon="['fas', 'chevron-left']" />  Previous Page
                                            </b-button>
                                        </div>
                                        <div>
                                        <b-button pill variant="outline-second" @click="filterTransactionsSearch(pagination.next_page_url)"
                                                    :disabled="pagination.next_page_url === null" class="pull-right">
                                                        Next Page   <font-awesome-icon :icon="['fas', 'chevron-right']" />
                                            </b-button>
                                        </div>
                                    </div>
                                </div>
                        </b-list-group-item>
                </div>
                <div v-else>
                    <div class="table-responsive-xs">
                        <table class="table table-striped table-hover table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">TID</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date/Time</th>
                                <th scope="col">RRN</th>
                                <th scope="col">PAN</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Stan</th>   
                                <th scope="col">Merchant</th>  
                                <th scope="col">Currency</th> 
                                <th scope="col">Response</th>
                                <th scope="col" class="text-center">Status</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            <tr  v-for="txn in transactions" :key="txn.id">
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block text-center">
                                                <b-badge variant="second">{{ txn.terminalid }}</b-badge>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.trantype }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                <b-badge variant="neutral-dark" class="text-dark">{{ txn.transactiondate }}</b-badge>
                                                <b-badge variant="neutral-info" class="text-info">{{ txn.transactiontime }}</b-badge>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.rrn }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.pan }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                <font-awesome-icon icon="money-alt" class="font-size-sm"/>
                                                <b-badge variant="info">{{ txnAmountFormat(txn.amount, 2) }}</b-badge>
                                                
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.stan }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.merchantId }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.currencycode }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="pl-2">
                                            <span class="d-block">
                                                {{ txn.responsedescription }}
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td class="status">
                                    <div class="text-center" v-if="txn.t_status === 'DECLINED' || txn.t_status === null">
                                        <span class="badge badge-danger">{{ txn.t_status }}</span>
                                    </div>
                                    <div class="text-center" v-else>
                                        <span class="badge badge-success">{{ txn.t_status }}</span>
                                    </div>
                                </td>
                                <td class="text-center" width="5%">
                                    <b-dropdown no-caret right variant="link p-0 btn-link-primary" class="text-primary">
                                        <template slot="button-content">
                                            <div class="font-size-xl">
                                                <font-awesome-icon icon="ellipsis-h"/>
                                            </div>
                                        </template>
                                        <b-dropdown-item @click.prevent="openModalDetail(txn.id)">
                                            <font-awesome-icon icon="eye"/> 
                                            View Details
                                        </b-dropdown-item>
                                        <b-dropdown-item @click.prevent="openEjournalModal(txn.id)">
                                            <font-awesome-icon icon="receipt"/>
                                            E-receipt
                                        </b-dropdown-item>
                                    </b-dropdown>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="divider"></div>
                        <div class="divider"></div>
                        <b-list-group-item class="d-flex justify-content-between align-items-center">
                                <div class="w-100">
                                    <div class="d-flex mt-1 justify-content-between align-items-center">
                                        <div class="avatar-wrapper-overlap">
                                        <b-button pill variant="outline-second" @click="getTransactionLiveHistory(pagination.prev_page_url)"
                                                    :disabled="pagination.prev_page_url === null" class="pull-left">
                                                    <font-awesome-icon :icon="['fas', 'chevron-left']" />  Previous Page
                                            </b-button>
                                        </div>
                                        <div>
                                        <b-button pill variant="outline-second" @click="getTransactionLiveHistory(pagination.next_page_url)"
                                                    :disabled="pagination.next_page_url === null" class="pull-right">
                                                        Next Page   <font-awesome-icon :icon="['fas', 'chevron-right']" />
                                            </b-button>
                                        </div>
                                    </div>
                                </div>
                        </b-list-group-item>
                </div>
                </div>
            </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker'
    import axios from 'axios'
    import downloadexcel from "vue-json-excel";
    //import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import simpleBlocks from '../../examples/statistics-boxes/simple-blocks-xpress.vue'
    import xpressAnalysis from '../../examples/examples-source/widgets/charts/xpress-error-analysis.vue'

    import {library} from '@fortawesome/fontawesome-svg-core'
    import {
        faChevronRight,
        faPlus,
        faEye,
        faArrowUp,
        faNewspaper,
        faLightbulb,
        faUser,
        faEllipsisH,
        faChevronLeft,
        faArrowDown,
        faFileAudio,
        faFileVideo,
        faFileExcel,
        faComments,
        faBalanceScale,
        faCarBattery,
        faBinoculars,
        faHourglass,
        fas
    } from '@fortawesome/free-solid-svg-icons'
    import {
        faPinterest,
    } from '@fortawesome/free-brands-svg-icons'
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

    library.add(
        faChevronRight,
        faPlus,
        faEye,
        faArrowUp,
        faNewspaper,
        faLightbulb,
        faUser,
        faEllipsisH,
        faChevronLeft,
        faArrowDown,
        faPinterest,
        faFileAudio,
        faFileVideo,
        faFileExcel,
        faComments,
        faBalanceScale,
        faCarBattery,
        faBinoculars,
        faHourglass,
        fas
    );
    export default {
        components: {
            //VuePerfectScrollbar,
            xpressAnalysis,
            'font-awesome-icon': FontAwesomeIcon,
            simpleBlocks,
            Datepicker,
            downloadexcel
        },
        data: function () {
            return {
                loading: false,
                loadingsearch: false,
                pagination: '',
                transactions: [],
                singleTxn: null,
                ejournalTxn: null,
                totalTxnAmount: null,
                approvedTxnAmount: null,
                declinedTxnAmount: null,
                totalCount: null,
                declinedCount: null,
                approvedCount: null,
                ToDate: '',
                FromDate: '',
                RRN: '',
                CustomerName: '',
                TransactionStatus: '',
                TerminalId: '',
                MerchantId: '',
                TransactionId: '',
                userAccount: this.$store.state.auth.user,
                token: "Bearer "+this.$store.state.auth.user.token,
                transactionError: null,
                json_fields: {
                    'Merchant ID': 'merchantId',
                    'Transaction Type Code': 'mti',
                    'Transaction Type': 'trantype',
                    'Processing Code': 'processingcode',
                    'Transaction Amount': 'amount',
                    'STAN': 'stan',
                    'Masked PAN': 'pan',
                    'POS Entry Mode': 'posentrymode',
                    'Ref Code': 'refcode',
                    'Auth Response': 'aurhorisationresponse',
                    'Currency Code': 'currencycode',
                    'Terminal ID': 'terminalid',
                    'Transaction Date': 'transactiondate',
                    'Transactioin Time': 'transactiontime',
                    'System Time': 'systemtime',
                    'Response Code': 'responcecode',
                    'Sequence Number': 'seqno',
                    'Transaction Status': 't_status',
                    'Response Message': 'responsedescription',
                    'Local Time': 'timelocaltransaction',
                    'Local Date': 'datelocaltransaction',
                    'RRN': 'rrn',
                    'trancode': 'trancode',
                    'Account Type': 'accounttype',
                    'Merchant Name': 'merchantName',
                    'Merchant Address': 'merchantAddress',
                    'Auth Code': 'authorizationCode'
                },
                autToken: this.$store.state.auth.user.jwtToken,
                baseUrl: "http://localhost:5000/api/transactions/",
                transactionsFiltered: [],
            }
        },
        beforeMount(){
            this.getTransactionLiveHistory();
        },
        methods: {
            nFormatter(num, digits) {
                if(typeof num === 'undefined'){
                    return num;
                }else{
                var si = [
                    { value: 1, symbol: "" },
                    { value: 1E3, symbol: "k" },
                    { value: 1E6, symbol: "M" },
                    { value: 1E9, symbol: "B" },
                    { value: 1E12, symbol: "T" },
                    { value: 1E15, symbol: "P" },
                    { value: 1E18, symbol: "E" }
                ];
                //var num = parseInt(num);
                var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
                var i;
                for (i = si.length - 1; i > 0; i--) {
                    if (num >= si[i].value) {
                    break;
                    }
                }

                
                    return (num / si[i].value).toFixed(digits).replace(rx, "$1") + si[i].symbol;
                }
                //return (num / si[i].value).toFixed(digits).replace(rx, "$1") + si[i].symbol;
            },
            txnAmountFormat(amount){
                return (parseInt(amount) / 100).toLocaleString();
            },
            async filterTransactionsSearchDownload(){

                if(this.MerchantId === ''  && this.TerminalId === '' && this.TransactionStatus === '' && this.RRN === '' && this.FromDate === '' && this.ToDate === ''){
                    
                    this.loading = false;

                    this.$toast.open(this.searchFieldValidator());

                    return;
                }

                let newFormatFromDate;
                 let newFormatToDate;

                if(this.FromDate !== ''){
                    let dateFrom = new Date(this.FromDate);
                    newFormatFromDate = dateFrom.getFullYear() + '-' + (dateFrom.getMonth() +1) + '-' + dateFrom.getDate(); 
                
                }else{
                 newFormatFromDate = this.FromDate;

                }
                
                if(this.ToDate !== ''){
                    let dateTo = new Date(this.ToDate);
                    newFormatToDate = dateTo.getFullYear() + '-' + (dateTo.getMonth() +1) + '-' + dateTo.getDate(); 

                }else{
                    newFormatToDate = this.ToDate;
                }

                let GetUserBankId = this.userAccount.data.userBankId;
                let loggedUser = this.userAccount.data;
                let addToUri = '&groupId='+loggedUser.userGroupId+'&accType='+loggedUser.userAccountType;

                let filterRequest = '?MerchantId='+this.MerchantId+'&TerminalId='+this.TerminalId+'&TransactionStatus='+this.TransactionStatus;
                filterRequest += '&RRN='+this.RRN+'&FromDate='+newFormatFromDate+'&ToDate='+newFormatToDate+'&bankId='+GetUserBankId+addToUri;
                //const json = JSON.stringify(filterRequest);
                var response = await axios
                .get(this.baseUrl+'TransactionsFilter'+filterRequest, { headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer '+this.autToken
                } 
                });

                if(response.data.data.length > 0){
                    return response.data.data;
                }else{
                    this.finishDownload();
                }
                
                

            },
            startDownload(){
                this.loading = true;
            },
            finishDownload(){
                this.loading = false;
            },
            searchFieldValidator(){
                const form = {
                    message: 'Please provide at least one seacrh parameter to filter transactions',
                    type: 'error',
                    duration: 5000,
                    dismissible: true,
                    queue: false,
                    position: 'top-right',
                }
                return form;
            },
            async filterTransactionsSearch(pageUrl){

                if(this.MerchantId === ''  && this.TerminalId === '' && this.TransactionStatus === '' && this.RRN === '' && this.FromDate === '' && this.ToDate === ''){
                    

                    this.$toast.open(this.searchFieldValidator());

                    return;
                }

                let newFormatFromDate;
                 let newFormatToDate;

                if(this.FromDate !== ''){
                    let dateFrom = new Date(this.FromDate);
                    newFormatFromDate = dateFrom.getFullYear() + '-' + (dateFrom.getMonth() +1) + '-' + dateFrom.getDate(); 
                
                }else{
                 newFormatFromDate = this.FromDate;

                }
                
                if(this.ToDate !== ''){
                    let dateTo = new Date(this.ToDate);
                    newFormatToDate = dateTo.getFullYear() + '-' + (dateTo.getMonth() +1) + '-' + dateTo.getDate(); 

                }else{
                    newFormatToDate = this.ToDate;
                }
                
                 let vm = this;
                 let GetUserBankId = this.userAccount.data.userBankId;
                 let loggedUser = this.userAccount.data;
                 let addToUri = '&groupId='+loggedUser.userGroupId+'&accType='+loggedUser.userAccountType;

                 let filterRequest = '?MerchantId='+this.MerchantId+'&TerminalId='+this.TerminalId+'&TransactionStatus='+this.TransactionStatus;
                filterRequest += '&RRN='+this.RRN+'&FromDate='+newFormatFromDate+'&ToDate='+newFormatToDate+'&bankId='+GetUserBankId+addToUri;
                

                pageUrl = (typeof pageUrl !== 'object') ? pageUrl+'&bankId='+GetUserBankId+addToUri : this.baseUrl+'TransactionsFilter'+filterRequest;

                this.loadingsearch = true;

               await axios
                .get(pageUrl, { headers: {
                'Authorization': 'Bearer '+this.autToken
                } })
                .then(response => {
                    if(response.data.data.length > 0){
                        this.loadingsearch = false
                        this.transactionsFiltered = response.data.data;
                        vm.makePagination(response.data.data);

                    }else{
                        this.loadingsearch = false
                        this.transactionError = "Could not find transaction records with the filtered parameters";
                    }
                    
                })
                .catch(function (error) {
                    //this.loadingsearch = false
                    this.transactionError = error;
                })
            },
            
            //GET TRANSACTIONS
            async getTransactionLiveHistory(pageUrl){
                let vm = this;
                //pageUrl = pageUrl || this.baseUrl+'GetDeclinedTransactions'
                let GetUserBankId = this.userAccount.data.userBankId;
                let loggedUser = this.userAccount.data;
                let addToUri = '&groupId='+loggedUser.userGroupId+'&accType='+loggedUser.userAccountType;

               pageUrl = (typeof(pageUrl) === 'undefined') ? this.baseUrl+'GetDeclinedTransactions?bankId='+GetUserBankId+addToUri : pageUrl+'&bankId='+GetUserBankId+addToUri
                
               await axios
                .get(pageUrl, { headers: {
                'Authorization': 'Bearer '+this.autToken
                } })
                .then(response => {
                    console.log(response.data);

                    this.transactions = response.data.data
                    vm.makePagination(response.data)
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            //INTERVAL FETCH
            intervalFetchData: function () {
            setInterval(() => {    
                this.getTransactionLiveHistory();
                this.liveTransactionFetch();
                }, 120000);    
            },
            //PAGINATION
            makePagination: function(data){
                let pagination = {
                    current_page: data.path,
                    last_page: data.lastPage,
                    next_page_url: data.nextPage,
                    prev_page_url: data.previousPage
                }

                this.pagination =  pagination;
            },
            formatPicker: function(){
                var self = this;
                var d = new Date(self.fromDate);
                self.formattedDateFrom =  d.getUTCFullYear()+"-"+(d.getUTCMonth()+1)+"-"+d.getUTCDate();
            },
            formatPickerTo: function(){
                var self = this;
                var d = new Date(self.toDate);
                self.formattedDateTo =  d.getUTCFullYear()+"-"+(d.getUTCMonth()+1)+"-"+d.getUTCDate();
            },
            openModalDetail(txnId){
            this.$bvModal.show("modal-b2");
            axios
            .get(this.baseUrl+'GetTransactionById/'+txnId, {
                headers: {
                'Authorization': 'Bearer '+this.autToken
                }
            })
            .then((response) => {

                this.singleTxn = response.data;

                this.$bvModal.show("modal-b2");

            },
            (error) => {
                console.log(error);
            })
            .catch(function(er){
                console.log(er)
            })
            },
            closeModal(){
                this.singleTxn = null
                this.$bvModal.hide("modal-b2");
            },
            openEjournalModal(txnId){
            this.$bvModal.show("modal-b3");
            axios
            .get(this.baseUrl+'GetTransactionById/'+txnId, {
                headers: {
                'Authorization': 'Bearer '+this.autToken
                }
            })
            .then((response) => {

                this.ejournalTxn = response.data;

                this.$bvModal.show("modal-b3");

            },
            (error) => {
                console.log(error);
            })
            .catch(function(er){
                console.log(er)
            })
            },
            closeEjournalModal(){
                this.ejournalTxn = null
                this.$bvModal.hide("modal-b3");
            },
            getBankLogo(terminalId){
                let firstFour = terminalId.substring(0,4);
                let logo;
                switch(true){
                    case firstFour === '2044':
                    case firstFour === '2063':
                        logo = 'access';
                    break;

                    case firstFour === '2050':
                        logo = 'eco';
                    break;

                    case firstFour === '2011':
                        logo = 'fbn';
                    break;

                    case firstFour === '2214':
                        logo = 'fcmb';
                    break;

                    case firstFour === '2070':
                        logo = 'fidelity';
                    break;

                    case firstFour === '2058':
                        logo = 'gt';
                    break;

                    case firstFour === '2084':
                    case firstFour === '2030':
                        logo = 'heritage';
                    break;

                    case firstFour === '2082':
                        logo = 'keystone';
                    break;

                    case firstFour === '2101':
                        logo = 'providus';
                    break;

                    case firstFour === '2039':
                        logo = 'stanbic';
                    break;

                    case firstFour === '2035':
                        logo = 'wema';
                    break;

                    case firstFour === '2232':
                        logo = 'sterling';
                    break;

                    case firstFour === '2057':
                        logo = 'zenith';
                    break;

                    case firstFour === '2215':
                        logo = 'unity';
                    break;

                    case firstFour === '2032':
                        logo = 'union';
                    break;

                    case firstFour === '2033':
                        logo = 'uba';
                    break;

                    case firstFour === '2076':
                        logo = 'polaris';
                    break;

                    case firstFour === '2103':
                        logo = 'globus';
                    break;

                    case firstFour === '2100':
                        logo = 'suntrust';
                    break;
                }
                let imagePath =  require(`@/assets/img/logos/${logo}.png`);

                //console.log(imagePath);

                return imagePath;
                //return logo;
            }
        }
    }
</script>
