<template>
    <div>
         <div class="bg-vicious-stance pt-5 pl-5 pr-5 mb-5 rounded">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <a href="javascript:void(0);" class="mb-5 card card-box card-box-border-bottom border-success card-box-hover-rise-alt">
                        <div class="card-body">
                            <div class="align-box-row">
                                <div class="text-left">
                                    <div class="mt-1">
                                        <font-awesome-icon icon="user" class="font-size-xxl text-success"/>
                                    </div>
                                    <div class="mt-3 line-height-sm">
                                        <b class="font-size-lg text-black pr-1">2,345</b>
                                        <span class="text-black-50">users</span>
                                    </div>
                                </div>
                                <div class="ml-auto card-hover-indicator">
                                    <font-awesome-icon icon="chevron-right" class="font-size-xl"/>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <a href="javascript:void(0);" class="mb-5 card card-box card-box-border-bottom border-danger card-box-hover-rise-alt">
                        <div class="card-body">
                            <div class="align-box-row">
                                <div class="text-left">
                                    <div class="mt-1">
                                        <font-awesome-icon icon="lemon" class="font-size-xxl text-danger"/>
                                    </div>
                                    <div class="mt-3 line-height-sm">
                                        <b class="font-size-lg text-black pr-1">3,568</b>
                                        <span class="text-black-50">clicks</span>
                                    </div>
                                </div>
                                <div class="ml-auto card-hover-indicator">
                                    <font-awesome-icon icon="chevron-right" class="font-size-xl"/>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <a href="javascript:void(0);" class="mb-5 card card-box card-box-border-bottom border-warning card-box-hover-rise-alt">
                        <div class="card-body">
                            <div class="align-box-row">
                                <div class="text-left">
                                    <div class="mt-1">
                                        <font-awesome-icon icon="chart-bar" class="font-size-xxl text-warning"/>
                                    </div>
                                    <div class="mt-3 line-height-sm">
                                        <b class="font-size-lg text-black pr-1">$9,693</b>
                                        <span class="text-black-50">revenue</span>
                                    </div>
                                </div>
                                <div class="ml-auto card-hover-indicator">
                                    <font-awesome-icon icon="chevron-right" class="font-size-xl"/>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <a href="javascript:void(0);" class="mb-5 card card-box card-box-border-bottom border-info card-box-hover-rise-alt">
                        <div class="card-body">
                            <div class="align-box-row">
                                <div class="text-left">
                                    <div class="mt-1">
                                        <font-awesome-icon icon="newspaper" class="font-size-xxl text-info"/>
                                    </div>
                                    <div class="mt-3 line-height-sm">
                                        <b class="font-size-lg text-black pr-1">431</b>
                                        <span class="text-black-50">sales</span>
                                    </div>
                                </div>
                                <div class="ml-auto card-hover-indicator">
                                    <font-awesome-icon icon="chevron-right" class="font-size-xl"/>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="card card-box mb-5">
            <div class="card-header pr-2">
                <div class="card-header--title">
                    <small>Call home</small>
                    <b>Terminal Health Monitoring</b>
                </div>
                <div class="card-header--actions">
                    <a href="javascript:void(0)" class="btn btn-sm text-primary btn-link" v-b-tooltip.hover title="Refresh">
                        <font-awesome-icon spin icon="sync"/>
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <div>
                    <div class="table-responsive-md">
                        <table class="table table-striped table-hover mb-0">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Terminal ID</th>
                                <th scope="col" class="text-center">Serial Number</th>
                                <th scope="col" class="text-center">App Version</th>
                                <th scope="col" class="text-center">Model</th>
                                <th scope="col" class="text-center">Owner</th>
                                <th scope="col" class="text-center">Battery</th>
                                <th scope="col" class="text-center">Paper</th>
                                <th scope="col" class="text-center">Printer</th>
                                <th scope="col" class="text-center">Charger</th>
                                <th scope="col" class="text-center">Coms</th>
                                

                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            <tr>
                                <td class="company">
                                    <div class="align-box-row">
                                        <div>
                                            <a v-b-tooltip.hover href="javascript:void(0)" class="m-0 btn btn-link p-0 btn-facebook d-inline-block text-center text-white font-size-lg d-40 rounded-circle card-box-hover-rise" title="View details">
                                                <font-awesome-icon :icon="['fab', 'facebook']" />
                                            </a>
                                        </div>
                                        <div class="pl-3">
                                            <div class="d-flex align-items-center">
                                                <span>Facebook</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="avatar-icon-wrapper avatar-icon-md">
                                            <div class="avatar-icon rounded-circle"><img src="@/assets/img/avatars/avatar2.jpg" alt=""></div>
                                        </div>
                                        <div class="pl-2">
                                            <span class="d-block">
                                                John Doe
                                                <small class="d-block text-black-50">(john@example.com)</small>
                                            </span>
                                        </div>
                                        <div class="ml-auto">
                                            <div>
                                                <font-awesome-icon icon="question-circle"/>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="status">
                                    <div class="text-center">
                                        <span class="badge badge-warning">Pending</span>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" width="5%">
                                    <b-dropdown no-caret right variant="link p-0 btn-link-primary" class="text-primary">
                                        <template slot="button-content">
                                            <div class="font-size-xl">
                                                <font-awesome-icon icon="ellipsis-h"/>
                                            </div>
                                        </template>
                                        <b-dropdown-item>First Action</b-dropdown-item>
                                        <b-dropdown-item>Second Action</b-dropdown-item>
                                        <b-dropdown-item>Third Action</b-dropdown-item>
                                        <b-dropdown-divider></b-dropdown-divider>
                                        <b-dropdown-item active>Active action</b-dropdown-item>
                                        <b-dropdown-item disabled>Disabled action</b-dropdown-item>
                                    </b-dropdown>
                                </td>
                            </tr>
                            <tr>
                                <td class="company">
                                    <div class="align-box-row">
                                        <div>
                                            <a v-b-tooltip.hover href="javascript:void(0)" class="m-0 btn btn-link p-0 btn-twitter d-inline-block text-center text-white font-size-lg d-40 rounded-circle card-box-hover-rise" title="View details">
                                                <font-awesome-icon :icon="['fab', 'twitter']" />
                                            </a>
                                        </div>
                                        <div class="pl-3">
                                            <div class="d-flex align-items-center">
                                                <span>Twitter</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="avatar-icon-wrapper avatar-icon-md">
                                            <div class="avatar-icon rounded-circle"><img src="@/assets/img/avatars/avatar1.jpg" alt=""></div>
                                        </div>
                                        <div class="pl-2">
                                            <span class="d-block">
                                                Mandy Erle
                                                <small class="d-block text-black-50">(Mandyrle@gma.com)</small>
                                            </span>
                                        </div>
                                        <div class="ml-auto">
                                            <div>
                                                <font-awesome-icon icon="question-circle"/>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="status">
                                    <div class="text-center">
                                        <b-badge variant="success">Success</b-badge>
                                    </div>
                                </td>
                                 <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" width="5%">
                                    <b-dropdown no-caret right variant="link p-0 btn-link-primary" class="text-primary">
                                        <template slot="button-content">
                                            <div class="font-size-xl">
                                                <font-awesome-icon icon="ellipsis-h"/>
                                            </div>
                                        </template>
                                        <b-dropdown-item>First Action</b-dropdown-item>
                                        <b-dropdown-item>Second Action</b-dropdown-item>
                                        <b-dropdown-item>Third Action</b-dropdown-item>
                                        <b-dropdown-divider></b-dropdown-divider>
                                        <b-dropdown-item active>Active action</b-dropdown-item>
                                        <b-dropdown-item disabled>Disabled action</b-dropdown-item>
                                    </b-dropdown>
                                </td>
                            </tr>
                            <tr>
                                <th class="company">
                                    <div class="align-box-row">
                                        <div>
                                            <a v-b-tooltip.hover href="javascript:void(0)" class="m-0 btn btn-link p-0 btn-dribbble d-inline-block text-center text-white font-size-lg d-40 rounded-circle card-box-hover-rise" title="View details">
                                                <font-awesome-icon :icon="['fab', 'dribbble']" />
                                            </a>
                                        </div>
                                        <div class="pl-3">
                                            <div class="d-flex align-items-center">
                                                <span>Dribbble</span>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="avatar-icon-wrapper avatar-icon-md">
                                            <div class="avatar-icon rounded-circle"><img src="@/assets/img/avatars/avatar1.jpg" alt=""></div>
                                        </div>
                                        <div class="pl-2">
                                            <span class="d-block">
                                                Adella Galen
                                                <small class="d-block text-black-50">(Galen@example.com)</small>
                                            </span>
                                        </div>
                                        <div class="ml-auto">
                                            <div>
                                                <font-awesome-icon icon="question-circle"/>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="status">
                                    <div class="text-center">
                                        <span class="badge badge-first">In progress</span>
                                    </div>
                                </td>
                                 <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" width="5%">
                                    <b-dropdown no-caret right variant="link p-0 btn-link-primary" class="text-primary">
                                        <template slot="button-content">
                                            <div class="font-size-xl">
                                                <font-awesome-icon icon="ellipsis-h"/>
                                            </div>
                                        </template>
                                        <b-dropdown-item>First Action</b-dropdown-item>
                                        <b-dropdown-item>Second Action</b-dropdown-item>
                                        <b-dropdown-item>Third Action</b-dropdown-item>
                                        <b-dropdown-divider></b-dropdown-divider>
                                        <b-dropdown-item active>Active action</b-dropdown-item>
                                        <b-dropdown-item disabled>Disabled action</b-dropdown-item>
                                    </b-dropdown>
                                </td>
                            </tr>
                            <tr>
                                <th class="company">
                                    <div class="align-box-row">
                                        <div>
                                            <a v-b-tooltip.hover href="javascript:void(0)" class="m-0 btn btn-link p-0 btn-pinterest d-inline-block text-center text-white font-size-lg d-40 rounded-circle card-box-hover-rise" title="View details">
                                                <font-awesome-icon :icon="['fab', 'pinterest']" />
                                            </a>
                                        </div>
                                        <div class="pl-3">
                                            <div class="d-flex align-items-center">
                                                <span>Pinterest</span>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <td class="owner">
                                    <div class="align-box-row">
                                        <div class="avatar-icon-wrapper avatar-icon-md">
                                            <div class="avatar-icon rounded-circle"><img src="@/assets/img/avatars/avatar5.jpg" alt=""></div>
                                        </div>
                                        <div class="pl-2">
                                <span class="d-block">
                                    Napoleon Stacey
                                    <small class="d-block text-black-50">(Napoleon@test.com)</small>
                                </span>
                                        </div>
                                        <div class="ml-auto">
                                            <div>
                                                <font-awesome-icon icon="question-circle"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tip-popover-table-0" class="d-none">
                                        <ul class="list-group list-group-flush text-left bg-transparent">
                                            <li class="list-group-item rounded-top">
                                                <div class="align-box-row">
                                                    <div>
                                                        <div class="avatar-icon-wrapper avatar-icon-md">
                                                            <div class="avatar-icon rounded-circle"><img
                                                                    src="@/assets/img/avatars/avatar2.jpg"
                                                                    alt=""></div>
                                                        </div>
                                                    </div>
                                                    <div class="pl-2">
                                                        <span class="pb-1 d-block">John Doe <small class="text-black-50">(john@example.com)</small></span>
                                                        <b-badge variant="success">Active Account</b-badge>
                                                    </div>
                                                </div>
                                                <div class="alert alert-warning p-2 mb-1 mt-3 rounded">
                                                    <div class="align-box-row">
                                                        <div>
                                                            <font-awesome-icon icon="bell" />
                                                        </div>
                                                        <div class="pl-3">
                                                            <small><b class="d-block">Unpaid invoice</b></small>
                                                            <small>This account will be disabled starting <b>12 January 2021</b>.</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item bg-transparent p-0">
                                                <div class="grid-menu grid-menu-2col">
                                                    <div class="no-gutters row">
                                                        <div class="col-sm-6 py-3">
                                                            <div class="text-center">
                                                                <div>
                                                                    <font-awesome-icon icon="chart-bar" class="font-size-xxl text-info" />
                                                                </div>
                                                                <div class="mt-2 line-height-sm">
                                                                    <b class="font-size-lg">$9,693</b>
                                                                    <span class="text-black-50 d-block">revenue</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 py-3">
                                                            <div class="text-center">
                                                                <div>
                                                                    <font-awesome-icon icon="user" class="font-size-xxl text-success" />
                                                                </div>
                                                                <div class="mt-2 line-height-sm">
                                                                    <b class="font-size-lg">2,345</b>
                                                                    <span class="text-black-50 d-block">users</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="status">
                                    <div class="text-center">
                                        <span class="badge badge-danger">NEW</span>
                                    </div>
                                </td>
                                 <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="target">
                                    <div class="align-box-row">
                                        <div class="progress-bar-sm progress-bar-animated-alt progress w-100">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                        <div class="pl-1">
                                            100%
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center" width="5%">
                                    <b-dropdown no-caret right variant="link p-0 btn-link-primary" class="text-primary">
                                        <template slot="button-content">
                                            <div class="font-size-xl">
                                                <font-awesome-icon icon="ellipsis-h"/>
                                            </div>
                                        </template>
                                        <b-dropdown-item>First Action</b-dropdown-item>
                                        <b-dropdown-item>Second Action</b-dropdown-item>
                                        <b-dropdown-item>Third Action</b-dropdown-item>
                                        <b-dropdown-divider></b-dropdown-divider>
                                        <b-dropdown-item active>Active action</b-dropdown-item>
                                        <b-dropdown-item disabled>Disabled action</b-dropdown-item>
                                    </b-dropdown>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="divider"></div>
                    <div class="divider"></div>
                    <div class="p-3">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                    <font-awesome-icon icon="chevron-left"/>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                            <li class="page-item active"><a class="page-link" href="javascript:void(0)">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                    <font-awesome-icon icon="chevron-right"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'

    import {library} from '@fortawesome/fontawesome-svg-core'
    import {
        faChevronRight,
        faPlus,
        faEye,
        faArrowUp,
        faNewspaper,
        faLightbulb,
        faUser,
        faEllipsisH,
        faChevronLeft,
        faArrowDown,
        faFileAudio,
        faFileVideo,
        faFileExcel,
        faComments,
        faBalanceScale,
        faCarBattery,
        faBinoculars,
        faHourglass
    } from '@fortawesome/free-solid-svg-icons'
    import {
        faPinterest,
    } from '@fortawesome/free-brands-svg-icons'
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

    library.add(
        faChevronRight,
        faPlus,
        faEye,
        faArrowUp,
        faNewspaper,
        faLightbulb,
        faUser,
        faEllipsisH,
        faChevronLeft,
        faArrowDown,
        faPinterest,
        faFileAudio,
        faFileVideo,
        faFileExcel,
        faComments,
        faBalanceScale,
        faCarBattery,
        faBinoculars,
        faHourglass
    );
    export default {
        components: {
            VuePerfectScrollbar,
            'font-awesome-icon': FontAwesomeIcon
        },
        data: function () {
            return {
                chartPrimary: {
                    chart: {
                        id: 'vuechart-example1',
                        sparkline: {
                            enabled: true,
                        },
                    },
                    colors: ['#3c44b1'],
                    stroke: {
                        width: 3,
                        curve: 'smooth'
                    },
                    dataLabels: {
                        enabled: false
                    },
                    fill: {
                        type: 'gradient',
                        gradient: {
                            shade: 'light',
                            type: "vertical",
                            shadeIntensity: 0.5,
                            gradientToColors: undefined, // optional, if not defined - uses the shades of same color in series
                            inverseColors: false,
                            opacityFrom: 0.5,
                            opacityTo: 0,
                            stops: [0, 100],
                            colorStops: []
                        }
                    }
                },
                chartWarning: {
                    chart: {
                        id: 'vuechart-example4',
                        sparkline: {
                            enabled: true,
                        },
                    },
                    colors: ['#f4772e'],
                    stroke: {
                        width: 3,
                        curve: 'smooth'
                    },
                    dataLabels: {
                        enabled: false
                    },
                    fill: {
                        type: 'gradient',
                        gradient: {
                            shade: 'light',
                            type: "vertical",
                            shadeIntensity: 0.5,
                            gradientToColors: undefined, // optional, if not defined - uses the shades of same color in series
                            inverseColors: false,
                            opacityFrom: 0.5,
                            opacityTo: 0,
                            stops: [0, 100],
                            colorStops: []
                        }
                    }
                },
                chartDanger: {
                    chart: {
                        id: 'vuechart-example2',
                        sparkline: {
                            enabled: true,
                        },
                    },
                    colors: ['#f83245'],
                    stroke: {
                        width: 3,
                        curve: 'smooth'
                    },
                    dataLabels: {
                        enabled: false
                    },
                    fill: {
                        type: 'gradient',
                        gradient: {
                            shade: 'light',
                            type: "vertical",
                            shadeIntensity: 0.5,
                            gradientToColors: undefined, // optional, if not defined - uses the shades of same color in series
                            inverseColors: false,
                            opacityFrom: 0.5,
                            opacityTo: 0,
                            stops: [0, 100],
                            colorStops: []
                        }
                    }
                },
                chartFirst: {
                    chart: {
                        id: 'vuechart-example5',
                        sparkline: {
                            enabled: true,
                        },
                    },
                    colors: ['#4191ff'],
                    stroke: {
                        width: 3,
                        curve: 'smooth'
                    },
                    dataLabels: {
                        enabled: false
                    },
                    fill: {
                        type: 'gradient',
                        gradient: {
                            shade: 'light',
                            type: "vertical",
                            shadeIntensity: 0.5,
                            gradientToColors: undefined, // optional, if not defined - uses the shades of same color in series
                            inverseColors: false,
                            opacityFrom: 0.5,
                            opacityTo: 0,
                            stops: [0, 100],
                            colorStops: []
                        }
                    }
                },
                chartSuccess: {
                    chart: {
                        id: 'vuechart-example3',
                        sparkline: {
                            enabled: true,
                        },
                    },
                    colors: ['#1bc943'],
                    stroke: {
                        width: 3,
                        curve: 'smooth'
                    },
                    dataLabels: {
                        enabled: false
                    },
                    fill: {
                        type: 'gradient',
                        gradient: {
                            shade: 'light',
                            type: "vertical",
                            shadeIntensity: 0.5,
                            gradientToColors: undefined, // optional, if not defined - uses the shades of same color in series
                            inverseColors: false,
                            opacityFrom: 0.5,
                            opacityTo: 0,
                            stops: [0, 100],
                            colorStops: []
                        }
                    }
                },
                series: [{
                    name: 'series-1',
                    data: [73,77,75,78,73,77,73,74,76,78,74,72,74,74,76]
                }],
                series2: [{
                    name: 'series-2',
                    data: [73,78,75,74,73,77,74,76,72,74,73,78,77,74,76]
                }],
                series3: [{
                    name: 'series-3',
                    data: [73,78,75,74,76,78,77,72,74,73,74,73,77,74,76]
                }]
            }
        },
    }
</script>
