<template>
    <div class="user-box ml-2">
        <a href="javascript:void(0);" class="p-0 d-flex align-items-center" id="userBoxPopover">
            <div class="d-block p-0 avatar-icon-wrapper">
                <span class="badge badge-circle badge-success p-top-a">Online</span>
                <div class="avatar-icon rounded">
                    <img src="@/assets/img/avatars/avatar3.jpg" alt="">
                </div>
            </div>
            <div class="d-none d-md-block pl-2">
                <div class="font-weight-bold">
                    {{ currentUser.data.firstName+' '+ currentUser.data.lastName}} 
                </div>
                <span class="text-black-50">
                        {{ currentUser.data.roleName }}
                    </span>
            </div>
            <span class="pl-3">
                <font-awesome-icon icon="angle-down" class="opacity-5" />
            </span>
        </a>
        <b-popover triggers="click blur" placement="bottom" ref="userBoxPopover" target="userBoxPopover">
            <ul class="list-group list-group-flush text-left bg-transparent">
                <li class="list-group-item rounded-top">
                    <ul class="nav nav-pills nav-pills-hover flex-column">
                        <li class="nav-header d-flex text-primary pt-1 pb-2 font-weight-bold align-items-center">
                            <div>
                                Profile Options
                            </div>
                            <div class="ml-auto font-size-xs">
                                <a href="javascript:void(0);" >
                                    <font-awesome-icon icon="plus-circle" />
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">
                                My Account
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">
                                Profile Settings
                            </a>
                        </li>
                        <li class="list-group-item bg-transparent p-0">
                    <div class="grid-menu grid-menu-2col">
                        <div class="py-3">
                            <div class="d-flex justify-content-center">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <font-awesome-icon icon="sign-out-alt" class="font-size-xxl text-info"/>
                                    </div>
                                    <div class="pl-3 line-height-sm">
                                        <a class="nav-link" href @click.prevent="logOut">
                                            Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>
                </li>
            </ul>
        </b-popover>
    </div>
</template>

<script>
    import axios from 'axios';
    import Vue from 'vue'
    import {library} from '@fortawesome/fontawesome-svg-core'
    import VueToast from 'vue-toast-notification'
    Vue.use(VueToast);
    import {
        faPlusCircle,
        faChartBar,
    } from '@fortawesome/free-solid-svg-icons'
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
    import {
        faDribbble
    } from '@fortawesome/free-brands-svg-icons'
    library.add(
        faDribbble,
        faPlusCircle,
        faChartBar,
    );

    export default {
        data: function(){
            return {
                API_URL: 'http://localhost:5000/api/Aut/',
                user: this.$store.state.auth.user.data
            }
        },
        components: {
            'font-awesome-icon': FontAwesomeIcon,
        },
        computed: {
            currentUser() {
            return this.$store.state.auth.user;
            }
        },
        mounted() {
            if (!this.currentUser) {
            this.$router.push('/');
            }

        },
        beforeMount(){
            this.internetCheck();
        },
        methods: {
            showTooltip() {
                this.$refs.tooltipSuccess._toolpop.getTipElement().classList.add('tooltip-success');
            },
            showPopoverIntegrations() {
                this.$refs.userBoxPopover._toolpop.getTipElement().classList.add('popover-custom-wrapper','popover-custom-lg','popover-secondary');
            },
            logOut() {
                axios
                    .post('http://localhost:5000/api/Auth/Logout', {
                        email: btoa(this.user.email)
                    })
                    .then(response => {
                        console.log(response);
                        this.$store.dispatch('auth/logout');
                        this.$router.push('/');

                    });
            },
            internetCheck: function () {
            setInterval(() => {    
                this.userInternetConnectionCheck();
                }, 60000);    
            },
            toastData(){
                const form = {
                    message: 'Your Internet is Broken - You are now offline',
                    type: 'error',
                    duration: 5000,
                    dismissible: true,
                    queue: false,
                    position: 'top-right',
                }
                return form;
            },
            userInternetConnectionCheck(){
                if(!navigator.onLine){
                    this.$toast.open(this.toastData())
                }
            }
        }
    }
</script>
