<template>
    <div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card card-box mb-5">
                    <div class="card-indicator bg-first"></div>
                    <div class="card-body px-4 py-3">
                        <div class="pb-3 d-flex justify-content-between">
                            <a href="javascript:void(0);">
                                Total Registered Users
                            </a>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="badge badge-first px-3">63,527</div>
                            <div class="font-size-sm text-danger px-2">
                                <font-awesome-icon icon="clock" class="mr-1"/>
                                14:22
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card card-box mb-5">
                    <div class="card-indicator bg-success"></div>
                    <div class="card-body px-4 py-3">
                        <div class="pb-3 d-flex justify-content-between">
                            <a href="javascript:void(0);">
                                Total Active Users
                            </a>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="badge badge-success px-3">63,023</div>
                            <div class="font-size-sm text-dark px-2">
                                <font-awesome-icon icon="clock" class="mr-1"/>
                                09:41
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card card-box mb-5">
                    <div class="card-indicator bg-info"></div>
                    <div class="card-body px-4 py-3">
                        <div class="pb-3 d-flex justify-content-between">
                            <a href="javascript:void(0);">
                                Total Inactive Users
                            </a>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="badge badge-info px-3">48,145</div>
                            <div class="font-size-sm text-dark px-2">
                                <font-awesome-icon icon="clock" class="mr-1"/>
                                17:56
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card card-box mb-5">
                    <div class="card-indicator bg-warning"></div>
                    <div class="card-body px-4 py-3">
                        <div class="pb-3 d-flex justify-content-between">
                            <a href="javascript:void(0);">
                                Pending Approvals
                            </a>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <div class="badge badge-warning px-3">504</div>
                            <div class="font-size-sm text-danger px-2">
                                <font-awesome-icon icon="clock" class="mr-1"/>
                                11:35
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {
        faChevronRight,
        faClock,
        faListUl,
        faEye,
        faLink,
    } from '@fortawesome/free-solid-svg-icons'

    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

    library.add(
        faChevronRight,
        faClock,
        faListUl,
        faEye,
        faLink,
    );

    export default {
        components: {
            'font-awesome-icon': FontAwesomeIcon,
        }
    }
</script>