<template>
    <div>
        <b-row class="mt-2">
            <b-col lg="12" md="12">
                <div class="heading-3">Basic Info</div>
                <b-row>
                    <b-col md="6">
                        <b-form-group>
                            <b-input-group class="input-group-seamless" size="lg">
                                <b-form-input placeholder="First Name"></b-form-input>
                                <b-input-group-text slot="prepend">
                                    <font-awesome-icon class="mx-auto" icon="user"/>
                                </b-input-group-text>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                    <b-col md="6">
                        <b-form-group>
                            <b-input-group class="input-group-seamless" size="lg">
                                <b-form-input placeholder="Last Name"></b-form-input>
                                <b-input-group-text slot="prepend">
                                    <font-awesome-icon class="mx-auto" icon="user"/>
                                </b-input-group-text>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="6">
                        <b-form-group>
                            <b-input-group class="input-group-seamless" size="lg">
                                <b-form-input placeholder="Email"></b-form-input>
                                <b-input-group-text slot="prepend">
                                    <font-awesome-icon class="mx-auto" icon="envelope"/>
                                </b-input-group-text>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                    <b-col md="6">
                        <b-form-group>
                            <b-input-group class="input-group-seamless" size="lg">
                                <b-form-input placeholder="Phone Number"></b-form-input>
                                <b-input-group-text slot="prepend">
                                    <font-awesome-icon class="mx-auto" icon="mobile"/>
                                </b-input-group-text>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>

    </div>
</template>

<script>
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {
        faCalendar,
        faUser,
        fas
    } from '@fortawesome/free-solid-svg-icons'

    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

    library.add(
        faCalendar,
        faUser,
        fas
    );

    export default {
        components: {
            'font-awesome-icon': FontAwesomeIcon,
        },
    }
</script>