<template>
    <div>
        <div class="row mt-2">
            <div class="col-lg-3 col-md-4">
                <div class="heading-3">Radio</div>
                <div class="card mb-5">
                    <div class="card-body py-2">
                        <b-form-group label="Individual radios">
                            <b-form-radio class="my-1" v-model="selectedRadio" name="some-radios" value="A">Enjoy cabbage</b-form-radio>
                            <b-form-radio class="my-1" v-model="selectedRadio" name="some-radios" value="B">Enjoy tomatoes</b-form-radio>
                            <b-form-radio class="my-1" v-model="selectedRadio" name="some-radios" value="C">Enjoy broccoli</b-form-radio>
                            <b-form-radio class="my-1" v-model="selectedRadio" name="some-radios" value="D">Enjoy carrots</b-form-radio>
                            <b-form-radio class="my-1" v-model="selectedRadio" name="some-radios" value="E">Enjoy green peas</b-form-radio>
                        </b-form-group>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="heading-3">Slider</div>
                <div class="card mb-5">
                    <b-col md="6">
                        <b-form-group>
                            <b-input-group class="input-group-seamless" size="sm">
                                <b-form-input placeholder="Search"></b-form-input>
                                <b-input-group-text slot="prepend">
                                    <font-awesome-icon class="mx-auto" icon="user"/>
                                </b-input-group-text>
                            </b-input-group>
                        </b-form-group>
                        <b-form-group>
                            <b-input-group class="input-group-seamless">
                                <b-form-input placeholder="Search"></b-form-input>
                                <b-input-group-text slot="prepend">
                                    <font-awesome-icon class="mx-auto" icon="user"/>
                                </b-input-group-text>
                            </b-input-group>
                        </b-form-group>
                        <b-form-group>
                            <b-input-group class="input-group-seamless" size="lg">
                                <b-form-input placeholder="Search"></b-form-input>
                                <b-input-group-text slot="prepend">
                                    <font-awesome-icon class="mx-auto" icon="user"/>
                                </b-input-group-text>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                flavours: ['Orange', 'Grape', 'Apple', 'Lime', 'Very Berry'],
                selected: [],
                allSelected: false,
                indeterminate: false,
                selectedRadio: '',
                file: null,
                file2: null,
                optionsSelect: [
                    { value: null, text: 'Please select an option' },
                    { value: 'a', text: 'This is First option' },
                    { value: 'b', text: 'Selected Option' },
                    { value: { C: '3PO' }, text: 'This is an option with object value' },
                    { value: 'd', text: 'This one is disabled', disabled: true }
                ]
            }
        },
        methods: {
            toggleAll(checked) {
                this.selected = checked ? this.flavours.slice() : []
            }
        },
        watch: {
            selected(newVal, oldVal) {
                // Handle changes in individual flavour checkboxes
                if (newVal.length === 0) {
                    this.indeterminate = false
                    this.allSelected = false
                } else if (newVal.length === this.flavours.length) {
                    this.indeterminate = false
                    this.allSelected = true
                } else {
                    this.indeterminate = true
                    this.allSelected = false
                }
            }
        }
    }
</script>