<template>
    <div class="app-footer font-size-sm text-black-50">
        <div>
            © 2021 - XPress Monitor - created by <a href="mailto:michelkalavanda@gmail.com" title="Michel Kalavanda" target="_blank">Malaika Technology Ltd</a>
        </div>
        <div>
            <ul class="nav nav-justified">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">License</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="javascript:void(0);">Changelog</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Footer",
        components: {
        }
    };
</script>
