<template>
    <div class="app-header">
        
        <div class="d-flex">
            <button class="navbar-toggler hamburger hamburger--elastic toggle-sidebar" v-bind:class="{'is-active': sidebarCollapsed}" type="button" v-on:click="toggleSidebar">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <button class="navbar-toggler hamburger hamburger--elastic toggle-sidebar-mobile" v-bind:class="{'is-active': sidebarCollapsedMobile}" type="button" v-on:click="toggleSidebarMobile">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <div class="search-link">
                <div class="row">
                    
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <UserBox/>
        </div>
    </div>
</template>

<script>

    //import Dots from './Header/Dots';
    import UserBox from './Header/UserBox';
    import axios from 'axios'
    import {library} from '@fortawesome/fontawesome-svg-core'
    import {
        faSearch,
        fas
    } from '@fortawesome/free-solid-svg-icons'
    //import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

    library.add(
        faSearch,
        fas
    );
    export default {
        name: "Header",
        components: {
            //Dots,
            UserBox,
            //'font-awesome-icon': FontAwesomeIcon,
        },

        data: function() {
            return {
                autToken: this.$store.state.auth.user.jwtToken,
                baseUrl: "http://localhost:5000/api/",
                firstName: '',
                lastName: '',
                middleName: '',
                email: '',
                phoneNumber: '',
                roleId: '',
                errorMessage: null,
                responseMessage: '',
                loading: false,
                bankData: [],
                bankId: ''
            }
        },
        computed: {
            sidebarCollapsed: {
                get() {
                    return this.$store.state.sidebarCollapsed;
                },
                set(value) {
                    this.$store.commit('SET_SIDEBAR_COLLAPSED', value);
                }
            },
            sidebarCollapsedMobile: {
                get() {
                    return this.$store.state.sidebarCollapsedMobile;
                },
                set(value) {
                    this.$store.commit('SET_SIDEBAR_COLLAPSED_MOBILE', value);
                }
            }
        },
        methods: {
            toggleSidebar() {
                this.sidebarCollapsed = !this.sidebarCollapsed;
            },
            toggleSidebarMobile() {
                this.sidebarCollapsedMobile = !this.sidebarCollapsedMobile;
            },
            pageRedirectUrl(path){
                return this.$router.push(path);
            },
            openUserCreateModal(){
                this.$bvModal.show("modal-bbb5");
            },
            async fetchBankList(){

                this.loading = true;
                if(this.roleId === '44'){
                    await axios
                        .get(this.baseUrl+'Transactions/AllBanks', { headers: {
                        'Authorization': 'Bearer ' +this.autToken
                        } 
                        }).then((response) => {
                            this.loading = false;
                            if(response.data.responseCode === "00"){
                                this.bankData = response.data.data;
                            }else{
                                this.bankData = [];
                            }
                    },
                    (error) => {
                        this.loading = false;
                        this.errorMessage = true;
                        this.responseMessage = error;
                    })
                    .catch(function(er){
                        this.loading = false;
                        this.errorMessage = true;
                        this.responseMessage = er;
                    });
                }else{
                   this.loading = false; 
                   this.bankData = [];
                }
            },
            async createNewUserAccount(){
                this.loading = true;
                console.log(this.bankId);
                const filterRequest = {
                    firstName: this.firstName,
                    lastName: this.lastName,
                    middleName: this.middleName,
                    email: this.email,
                    phoneNumber: this.phoneNumber,
                    roleId: this.roleId,
                    userBankId: (this.bankId == '' )? parseInt(0) : parseInt(this.bankId)
                    //typeof this.bankId == 'undefined' ? parseInt(0) : parseInt(this.bankId)
                    //bankId == '' ? parseInt(0) : parseInt(this.bankId)
                }
                const json = JSON.stringify(filterRequest);

                await axios
                .post(this.baseUrl+'Auth/CreateUser', json, { headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' +this.autToken
                } 
                }).then((response) => {
                    this.loading = false;
                    if(response.data.responseCode === "00"){
                        this.errorMessage = false;
                        this.responseMessage = response.data.responseMessage;

                        this.$refs.createUserForm.reset();
                    }else{
                        this.errorMessage = true;
                        this.responseMessage = response.data.responseMessage;
                    }

                    this.$refs.createUserForm.reset();
             },
            (error) => {
                this.loading = false;
                this.errorMessage = true;
                this.responseMessage = error;
            })
            .catch(function(er){
                this.loading = false;
                this.errorMessage = true;
                this.responseMessage = er;
            });
            }
        }
    };
</script>
