<template>
    <div class="app-sidebar app-sidebar--dark bg-primary" :class="sidebarbg">
        <div class="app-sidebar--header">
            <div class="nav-logo w-100 text-center">
                <router-link tag="a" class="d-block" active-class="active" to="/" exact v-b-tooltip.hover>
                    <img src="@/assets/img/xpress_logo.png" alt="">
                </router-link>
            </div>
            <button class="toggle-sidebar rounded-circle btn btn-sm bg-white shadow-sm-dark text-primary" v-b-tooltip.hover title="Expand Sidebar" v-bind:class="{'is-active': sidebarCollapsed}" type="button" v-on:click="toggleSidebar">
                <font-awesome-icon icon="arrows-alt-h"/>
            </button>
        </div>
        <VuePerfectScrollbar class="app-sidebar--content">
            <div class="sidebar-navigation">
                <sidebar-menu showOneChild :menu="menu"/>
            </div>
        </VuePerfectScrollbar>
        <v-idle @idle="onidle" @remind="onremind" :reminders="[10, 25, 40, 60]" :wait="120" :duration="300" :events="['mousemove', 'keypress']"/>
    
    </div>
</template>

<script>
    import axios from 'axios';
    import Vue from 'vue'
    import Vidle from 'v-idle'
    import VueToast from 'vue-toast-notification'

    Vue.use(Vidle);
    Vue.use(VueToast);

    Vue.component('truck-icon', TruckIcon);
    Vue.component('battery-charging-icon', BatteryChargingIcon);
    Vue.component('cpu-icon', CpuIcon);
    Vue.component('user-check-icon', UserCheckIcon);
    Vue.component('check-circle-icon', CheckCircleIcon);
    Vue.component('layout-icon', LayoutIcon);
    Vue.component('paper-clip-icon', PaperclipIcon);
    Vue.component('layers-icon', LayersIcon);
    Vue.component('database-icon', DatabaseIcon);
    Vue.component('briefcase-icon', BriefcaseIcon);
    Vue.component('map-pin-icon', MapPinIcon);
    Vue.component('pie-chart-icon', PieChartIcon);

    import {SidebarMenu} from 'vue-sidebar-menu'
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import { TruckIcon, BatteryChargingIcon, CpuIcon, UserCheckIcon, CheckCircleIcon, LayoutIcon, PaperclipIcon, LayersIcon, DatabaseIcon, BriefcaseIcon, MapPinIcon, PieChartIcon } from 'vue-feather-icons'

    import {library} from '@fortawesome/fontawesome-svg-core'
    import {
        faArrowsAltH,
        fas
    } from '@fortawesome/free-solid-svg-icons'

    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

    library.add(
        faArrowsAltH,
        fas
    );

    export default {
        components: {
            SidebarMenu,
            VuePerfectScrollbar,
            'font-awesome-icon': FontAwesomeIcon,
        },
        props: {
            sidebarbg: String,

        },
        data() {
            return {
                user_role: this.$store.state.auth.user.data.roleName,
                menuItems: [
                    {
                        header: true,
                        title: 'XPress Pay',
                    },
                    {
                        title: 'Dashboard Home',
                        icon: {
                            element: 'truck-icon',
                        },
                        href: '/home'
                    },
                    {
                        title: 'Approved Transactions',
                        icon: {
                            element: 'layers-icon',
                        },
                        href: '/approved-txn'
                    },
                    {
                        title: 'Declined Transactions',
                        icon: {
                            element: 'battery-charging-icon',
                        },
                        href: '/declined-txn'
                    },
                    {
                        title: 'Bank Management',
                        icon: {
                            element: 'layers-icon',
                        },
                        href: '/bank-access',
                        admin: true
                    },
                    {
                        title: 'Terminals',
                        icon: {
                            element: 'battery-charging-icon',
                        },
                        /*child: [
                            {
                                href: '/layouts/light-sidebar',
                                title: 'Light sidebar',
                            },
                            {
                                href: '/layouts/dark-sidebar',
                                title: 'Dark sidebar',
                            },
                            {
                                href: '/layouts/gradient-sidebar-1',
                                title: 'Gradient sidebar 1',
                            },
                            {
                                href: '/layouts/gradient-sidebar-2',
                                title: 'Gradient sidebar 2',
                            },
                            {
                                href: '/layouts/primary-sidebar',
                                title: 'Primary sidebar',
                            },
                            {
                                href: '/applications/chat',
                                title: 'Collapsed sidebar',
                            },

                        ]*/
                    },

                    /*{
                        header: true,
                        title: 'Pages',
                    },
                    {
                        icon: {
                            element: 'cpu-icon',
                        },
                        title: 'Applications',
                        child: [
                            {
                                title: 'Apps widgets',
                                href: '/applications/apps-widgets',
                            },
                            {
                                title: 'Chat',
                                href: '/applications/chat',
                            },
                            {
                                title: 'Contacts',
                                href: '/applications/contacts',
                            },
                            {
                                title: 'File manager',
                                href: '/applications/file-manager',
                            },
                            {
                                title: 'Mail',
                                href: '/applications/mail',
                            },
                            {
                                title: 'Events calendar',
                                href: '/applications/events-calendar',
                            },
                        ],
                    },*/
                    {
                        icon: {
                            element: 'user-check-icon',
                        },
                        title: 'User Access',
                        child: [
                            {
                                title: 'View Users',
                                href: '/user-access/all',
                            },
                            /*{
                                title: 'Create  User',
                                href: '/user-access/new',
                            },
                            {
                                title: 'Login',
                                href: '/user-pages/login',
                            },
                            {
                                title: 'Register',
                                href: '/user-pages/register',
                            },
                            {
                                title: 'Recover password',
                                href: '/user-pages/recover-password',
                            },
                            {
                                title: 'Profile',
                                href: '/user-pages/profile',
                            },*/

                        ],
                        admin: true
                    },
                    {
                        icon: {
                            element: 'layout-icon',
                        },
                        title: 'Group Management',
                        child: [
                            {
                                title: 'All Groups',
                                href: '/merchants/groups',
                            }
                        ],
                        admin: true
                    },
                    {
                        title: 'Monitoring',
                        icon: {
                            element: 'check-circle-icon',
                        },
                       /* href: '/ui-kit-pro-included',
                        badge: {
                            text: 'Included',
                            class: 'badge badge-success ml-auto order-2'
                        }*/
                    },
                    {
                        header: true,
                        title: 'Health Check',
                    },
                    {
                        title: 'Terminal Healths',
                        icon: {
                            element: 'paper-clip-icon',
                        },
                        /*child: [
                            {
                                title: 'Colors',
                                href: '/terminal/health-check',
                            },
                            {
                                title: 'Buttons',
                                href: '/elements/buttons',
                            },
                            {
                                title: 'Badges',
                                href: '/elements/badges',
                            },
                            {
                                title: 'Avatars',
                                href: '/elements/avatars',
                            },
                            {
                                title: 'Progress bars',
                                href: '/elements/progress-bars',
                            },
                            {
                                title: 'Navigation',
                                href: '/elements/navigation',
                            },
                            {
                                title: 'Alerts',
                                href: '/elements/alerts',
                            },
                            {
                                title: 'Spinners',
                                href: '/elements/spinners',
                            },
                            {
                                title: 'Icons',
                                href: '/elements/icons',
                            },
                            {
                                title: 'Timelines',
                                href: '/elements/timelines',
                            },
                            {
                                title: 'Cards',
                                href: '/elements/cards',
                            },
                            {
                                title: 'Lists',
                                href: '/elements/lists',
                            },
                            {
                                title: 'Modals',
                                href: '/elements/modals',
                            },
                            {
                                title: 'Tooltips',
                                href: '/elements/tooltips',
                            },
                            {
                                title: 'Popovers',
                                href: '/elements/popovers',
                            },
                            {
                                title: 'Carousels',
                                href: '/elements/carousels',
                            },
                            {
                                title: 'Dropdowns',
                                href: '/elements/dropdowns',
                            },
                            {
                                title: 'Scrollable',
                                href: '/elements/scrollable',
                            },
                            {
                                title: 'Tabs',
                                href: '/elements/tabs',
                            },
                            {
                                title: 'Accordions',
                                href: '/elements/accordions',
                            },
                            {
                                title: 'Notifications',
                                href: '/elements/notifications',
                            },
                        ],*/
                    },
                    {
                        title: 'Statistics',
                        icon: {
                            element: 'layers-icon',
                        },
                        /*child: [
                            {
                                title: 'Horizontal boxes',
                                href: '/statistics-boxes/horizontal-boxes',
                            },
                            {
                                title: 'Blocks',
                                href: '/statistics-boxes/blocks',
                            },
                            {
                                title: 'Simple blocks',
                                href: '/statistics-boxes/simple-blocks',
                            },
                            {
                                title: 'Chart boxes',
                                href: '/statistics-boxes/chart-boxes',
                            },
                            {
                                title: 'Card blocks',
                                href: '/statistics-boxes/card-blocks',
                            },
                        ],*/
                    },
                    /*{
                        title: 'Tables',
                        icon: {
                            element: 'database-icon',
                        },
                        child: [
                            {
                                title: 'Regular Tables',
                                href: '/tables/regular-tables',
                            },
                            {
                                title: 'Dynamic Tables',
                                href: '/tables/sortable-tables',
                            },
                        ]
                    },
                    {
                        title: 'Forms',
                        icon: {
                            element: 'briefcase-icon',
                        },
                        child: [
                            {
                                title: 'Elements',
                                href: '/forms/elements',
                            },
                            {
                                title: 'Widgets',
                                href: '/forms/widgets',
                            },
                            {
                                title: 'FullCalendar',
                                href: '/forms/fullcalendar',
                            }
                        ]
                    },
                    {
                        title: 'Maps',
                        icon: {
                            element: 'map-pin-icon',
                        },
                        href: '/maps',
                        badge: {
                            text: 'New',
                            class: 'badge badge-first ml-auto order-2'
                        }
                    },
                    {
                        title: 'Charts',
                        icon: {
                            element: 'pie-chart-icon',
                        },
                        href: '/charts',
                    },*/
                ],
                collapsed: true,
            }
        },
        computed: {
            sidebarCollapsed: {
                get() {
                    return this.$store.state.sidebarCollapsed;
                },
                set(value) {
                    this.$store.commit('SET_SIDEBAR_COLLAPSED', value);
                }
            },

            menu () {
                if (this.user_role === 'Super Admin' || this.user_role === 'Xpress Admin') {
                    return this.menuItems // return all the items
                }

                return this.menuItems.filter((item) => {
                    return !item.admin // return only items NOT marked as admin
            })
        }
            
        },
        methods: {
            toggleSidebar() {
                this.sidebarCollapsed = !this.sidebarCollapsed;
            },
            onidle() {
                //console.log("Idle time reached")
            //alert('You have been logged out');
                axios
                    .post('http://localhost:5000/api/Auth/Logout', {
                        email: btoa(this.$store.state.auth.user.data.email)
                    })
                    .then(response => {
                        console.log(response);
                        this.$store.dispatch('auth/logout');
                        this.$router.push('/');

                    });
            },
            onremind(time) {
            // alert seconds remaining to 00:00
                //alert(time);
                console.log("Reminder reached")
                this.$toast.open(this.messageBeforeLogout(time));
            },
            messageBeforeLogout(message){
                const form = {
                    message: 'You will be logged out due to inactivities in --- '+message+' Seconds---',
                    type: 'warning',
                    duration: 5000,
                    dismissible: true,
                    queue: false,
                    position: 'top-right',
                }
                return form;
            },
        }
    }
</script>
